<?xml version="1.0" encoding="utf-8"?>
<datatype>
  <item>
    <id>E04FDCCD-5701-45C9-8407-6D40B84E1D2E</id>
    <pid>-1</pid>
    <name>测试菜单父1</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>
    </visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>
    </is_deleted>
  </item>
  <item>
    <id>EEB3ECCC-B73C-4B24-B5CE-4ECEBBD779CC</id>
    <pid>-1</pid>
    <name>测试菜单父2</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>
    </visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>
    </is_deleted>
  </item>
  <item>
    <id>629D349A-9B85-40C0-B367-69A87D80B4A5</id>
    <pid>E04FDCCD-5701-45C9-8407-6D40B84E1D2E</pid>
    <name>测试菜单子1-1</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>
    </visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>
    </is_deleted>
  </item>
  <item>
    <id>6de6d954-63ff-4394-9af2-f2e2cf9b89e3</id>
    <pid>E04FDCCD-5701-45C9-8407-6D40B84E1D2E</pid>
    <name>测试菜单子1-2</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>1</visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>0</is_deleted>
  </item>
  <item>
    <id>7a726baf-154a-4085-80cb-4c9ade2737b5</id>
    <pid>6de6d954-63ff-4394-9af2-f2e2cf9b89e3</pid>
    <name>测试菜单子1-2-1</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>1</visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>0</is_deleted>
  </item>
  <item>
    <id>2d4586f7-4b5b-4dbb-b3d0-d56a3ef5c0f7</id>
    <pid>629D349A-9B85-40C0-B367-69A87D80B4A5</pid>
    <name>测试菜单子1-1-1</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>1</visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>0</is_deleted>
  </item>
  <item>
    <id>8271ceab-ac1b-41e6-a763-3894afbf9d18</id>
    <pid>629D349A-9B85-40C0-B367-69A87D80B4A5</pid>
    <name>测试菜单子1-1-2</name>
    <icon>
    </icon>
    <seq>
    </seq>
    <functionid>
    </functionid>
    <visible>1</visible>
    <winformtype>
    </winformtype>
    <url>
    </url>
    <webicon>
    </webicon>
    <systemtype_id>
    </systemtype_id>
    <creator_id>
    </creator_id>
    <createtime>
    </createtime>
    <editor_id>
    </editor_id>
    <edittime>
    </edittime>
    <is_deleted>0</is_deleted>
  </item>
</datatype>