# git 过滤掉不要上传的文件
*.suo
JCodes.Framework.WinFormUI/Properties/licenses.licx
JCodes.Framework.AddIn/Properties/licenses.licx
JCodes.Framework.BizControls/Properties/licenses.licx
JCodes.Framework.BLL/Properties/licenses.licx
JCodes.Framework.Common/Properties/licenses.licx
JCodes.Framework.CommonControl/Properties/licenses.licx
JCodes.Framework.DALFactory/Properties/licenses.licx
JCodes.Framework.Entity/Properties/licenses.licx
JCodes.Framework.Enum/Properties/licenses.licx
JCodes.Framework.IDAL/Properties/licenses.licx
JCodes.Framework.Model/Properties/licenses.licx
JCodes.Framework.SQLServerDAL/Properties/licenses.licx
JCodes.Framework.TestWinForm/Properties/licenses.licx
JCodes.Framework.WebControls/Properties/licenses.licx
JCodes.Framework.WebUI/Properties/licenses.licx

# 过滤掉不上传的文件夹
JCodes.Framework.WinFormUI/obj/
JCodes.Framework.WinFormUI/bin/
JCodes.Framework.AddIn/obj/
JCodes.Framework.AddIn/bin/
JCodes.Framework.BizControls/obj/
JCodes.Framework.BizControls/bin/
JCodes.Framework.BLL/obj/
JCodes.Framework.BLL/bin/
JCodes.Framework.Common/obj/
JCodes.Framework.Common/bin/
JCodes.Framework.CommonControl/obj/
JCodes.Framework.CommonControl/bin/
JCodes.Framework.DALFactory/obj/
JCodes.Framework.DALFactory/bin/
JCodes.Framework.Entity/obj/
JCodes.Framework.Entity/bin/
JCodes.Framework.Enum/obj/
JCodes.Framework.Enum/bin/
JCodes.Framework.IDAL/obj/
JCodes.Framework.IDAL/bin/
JCodes.Framework.Model/obj/
JCodes.Framework.Model/bin/
JCodes.Framework.SQLServerDAL/obj/
JCodes.Framework.SQLServerDAL/bin/
JCodes.Framework.TestWinForm/obj/
JCodes.Framework.TestWinForm/bin/
JCodes.Framework.WebControls/obj/
JCodes.Framework.WebControls/bin/
JCodes.Framework.WebUI/obj/
JCodes.Framework.WebUI/bin/
JCodes.Framework.AccessDAL/obj/
JCodes.Framework.AccessDAL/bin/
JCodes.Framework.MySqlDAL/obj/
JCodes.Framework.MySqlDAL/bin/
JCodes.Framework.OracleDAL/obj/
JCodes.Framework.OracleDAL/bin/
JCodes.Framework.SQLiteDAL/obj/
JCodes.Framework.SQLiteDAL/bin/
Bin/
jCodes/

