# git 过滤掉不要上传的文件
*.suo
JCodes.Framework.WinFormUI/Properties/licenses.licx
JCodes.Framework.AddIn/Properties/licenses.licx
JCodes.Framework.BizControls/Properties/licenses.licx
JCodes.Framework.BLL/Properties/licenses.licx
JCodes.Framework.Common/Properties/licenses.licx
JCodes.Framework.CommonControl/Properties/licenses.licx
JCodes.Framework.DALFactory/Properties/licenses.licx
JCodes.Framework.Entity/Properties/licenses.licx
JCodes.Framework.Enum/Properties/licenses.licx
JCodes.Framework.IDAL/Properties/licenses.licx
JCodes.Framework.Model/Properties/licenses.licx
JCodes.Framework.SQLServerDAL/Properties/licenses.licx
JCodes.Framework.TestWinForm/Properties/licenses.licx
JCodes.Framework.WebControls/Properties/licenses.licx
JCodes.Framework.WebUI/Properties/licenses.licx
JCodes.Framework.AddIn.Common/Properties/licenses.licx
JCodes.Framework.AddIn.Test/Properties/licenses.licx
JCodes.Framework.AddIn.50Go/Properties/licenses.licx
JCodes.Framework.AddIn.Basic/Properties/licenses.licx

# 过滤掉不上传的文件夹
JCodes.Framework.WinFormUI/obj/
JCodes.Framework.WinFormUI/bin/
JCodes.Framework.AddIn/obj/
JCodes.Framework.AddIn/bin/
JCodes.Framework.BizControls/obj/
JCodes.Framework.BizControls/bin/
JCodes.Framework.BLL/obj/
JCodes.Framework.BLL/bin/
JCodes.Framework.Common/obj/
JCodes.Framework.Common/bin/
JCodes.Framework.CommonControl/obj/
JCodes.Framework.CommonControl/bin/
JCodes.Framework.DALFactory/obj/
JCodes.Framework.DALFactory/bin/
JCodes.Framework.Entity/obj/
JCodes.Framework.Entity/bin/
JCodes.Framework.Enum/obj/
JCodes.Framework.Enum/bin/
JCodes.Framework.IDAL/obj/
JCodes.Framework.IDAL/bin/
JCodes.Framework.Model/obj/
JCodes.Framework.Model/bin/
JCodes.Framework.SQLServerDAL/obj/
JCodes.Framework.SQLServerDAL/bin/
JCodes.Framework.TestWinForm/obj/
JCodes.Framework.TestWinForm/bin/
JCodes.Framework.WebControls/obj/
JCodes.Framework.WebControls/bin/
JCodes.Framework.WebUI/obj/
JCodes.Framework.WebUI/bin/
JCodes.Framework.AccessDAL/obj/
JCodes.Framework.AccessDAL/bin/
JCodes.Framework.MySqlDAL/obj/
JCodes.Framework.MySqlDAL/bin/
JCodes.Framework.OracleDAL/obj/
JCodes.Framework.OracleDAL/bin/
JCodes.Framework.SQLiteDAL/obj/
JCodes.Framework.SQLiteDAL/bin/
JCodes.Framework.AddIn.Common/obj/
JCodes.Framework.AddIn.Common/bin/
JCodes.Framework.AddIn.Test/obj/
JCodes.Framework.AddIn.Test/bin/
JCodes.Framework.AddIn.50Go/obj/
JCodes.Framework.AddIn.50Go/bin/
Bin/
jCodes/
iTools/
Documents/

daka/
JCodes.Framework.WebUI/Properties/PublishProfiles/美橙互联.pubxml
JCodes.Framework.WebUI/Properties/PublishProfiles/美橙互联.pubxml.user

JCodes.Framework.WebUI/Logs/
JCodes.Framework.WebUI/GenerateFiles/
JCodes.Framework.libs/Quartz.Net/Quartz.NET-2.5/build/
JCodes.Framework.libs/Quartz.Net/Quartz.NET-2.5/packages/
JCodes.Framework.libs/Quartz.Net/Quartz.NET-2.5/src/Test/obj/
JCodes.Framework.libs/Quartz.Net/Quartz.NET-2.5/WinFormTest/obj/
JCodes.Framework.WebDemo/obj/
JCodes.Framework.WebDemo/Logs/
JCodes.Framework.WebDemo/Mp4/三方投票视频教程.mp4
JCodes.Framework.AddIn.WareHouseManage/obj/
JCodes.Framework.AddIn.SmallTools/obj/
JCodes.Framework.AddIn.Security/obj/
JCodes.Framework.AddIn.Proj/obj/
JCodes.Framework.AddIn.Dictionary/obj/
JCodes.Framework.AddIn.Contact/obj/
JCodes.Framework.AddIn.Basic/obj/

JCodes.Framework.WebUI/Web.config

*.licx
*.pubxml
*.user
/JCodes.Framework.WebUI/Web.config
/JCodes.Framework.TestWinForm/App.config
/JCodes.Framework.WinFormUI/JCodes.Framework.WinFormUI.csproj.user
