@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "通讯录联系人";
}

@*脚本引用放在此处可以实现自定义函数自动提示*@
<script src="~/Scripts/CommonUtil.js"></script>

<div class="portlet box green-meadow col-md-2">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-filter"></i>菜单列表
        </div>
        <div class="tools">
            <button type="button" class="btn btn-circle btn-sm green" onclick="AddressGroup()">
                <i class="fa fa-search"></i>
                通讯录分组
            </button>
        </div>
    </div>

    <div class="portlet-body flip-scroll">
        <div class="row" style="padding-left:20px">
            <div id="jstree_div"></div>
        </div>
    </div>
</div>

<div class="portlet box col-md-10">
    <div class="portlet-body flip-scroll" style="width:99%">
        <!-- BEGIN 数据查询-->
        <div class="portlet box green-meadow">
            <div class="portlet-title">
                <div class="caption"> <i class="fa fa-filter"></i>
                    查询内容
                </div>
                <div class="tools">
                    <button type="button" class="btn btn-circle btn-sm green" onclick="Refresh()">
                        <i class="fa fa-search"></i>
                        查 询
                    </button>
                    <button type="button" class="btn btn-circle btn-sm green" onclick="ShowImport()">
                        <i class="fa fa-file-excel-o"></i>
                        导 入
                    </button>
                    <button type="button" class="btn btn-circle btn-sm green" onclick="ShowExport()">
                        <i class="fa fa-file-excel-o"></i>
                        导 出
                    </button>
                    <a href="javascript:;" class="collapse" title="折叠内容"></a>
                </div>
            </div>

            <div class="portlet-body flip-scroll">
                <div class="row">
                    <form class="form-horizontal" id="ffSearch">
                         <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">姓名</label>
                                <div class="col-md-8">
                                    <input name="WHC_Name" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">手机</label>
                                <div class="col-md-8">
                                    <input name="WHC_Mobile" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">电子邮箱</label>
                                <div class="col-md-8">
                                    <input name="WHC_Email" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">QQ</label>
                                <div class="col-md-8">
                                    <input name="WHC_QQ" type="text" class="form-control"/>
                                </div>
                            </div>
                        </div>                                
                    </form>
                </div>
            </div>
        </div>
        <!-- END 数据查询-->

        <!-- BEGIN 表格数据-->
        <div class="portlet box green-meadow">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>
                    数据列表
                </div>
                <div class="tools">
                    <button type="button" onclick="Add()" class="btn btn-circle btn-sm green-meadow">
                        <i class="fa fa-plus"></i>
                        新增
                    </button>
                    <button type="button" onclick="EditView()" class="btn btn-circle btn-sm green-meadow">
                        <i class="fa fa-pencil"></i>
                        修改
                    </button>
                    <button type="button" onclick="EditView('view')" class="btn btn-circle btn-sm green-meadow">
                        <i class="fa fa-table"></i>
                        查看
                    </button>
                    <button type="button" onclick="Delete()" class="btn btn-circle btn-sm green-meadow">
                        <i class="fa fa-minus"></i>
                        删除
                    </button>
                    <button type="button" onclick="Refresh()" class="btn btn-circle btn-sm green-meadow" data-toggle="modal">
                        <i class="fa fa-refresh"></i>
                        刷新
                    </button>
                    <button type="button" class="fullscreen btn btn-circle btn-sm green-meadow" data-original-title="全屏">
                        <i class="icon-size-fullscreen"></i>
                    </button>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <div class="portlet-body">
                    <div>
                        <span>每页显示</span>
                        <select id="rows" onchange="ChangeRows()">
                            <option>10</option>
                            <option>50</option>
                            <option>100</option>
                            <option>1000</option>
                        </select>
                        <span>条记录</span>&nbsp;&nbsp;
                        <span>共有记录：</span><span id='totalCount' class="label label-success">0</span>条，总页数：<span id='totalPageCount' class="label label-success">0</span>页。
                    </div>
                    <hr />
                    <table id="grid" class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                        <thead id="grid_head">
                            <tr>
                                <th class="table-checkbox" style="width:40px"><input class="group-checkable" type="checkbox" onclick="selectAll(this)"></th>
                                 <th>姓名</th>
                                 <th>性别</th>
                                 <th>出生日期</th>
                                 <th>手机</th>
                                 <th>电子邮箱</th>
                                 <th>QQ</th>
                                <!--  <th>家庭电话</th>
                                 <th>办公电话</th>
                                 <th>家庭住址</th>
                                 <th>办公地址</th>
                                 <th>传真号码</th> -->
                                 <th>公司单位</th>
                                 <th>部门</th>
                                 <th>其他</th>
                                 <!-- <th>备注</th> -->
                
                                <th style="width:90px">操作</th>
                            </tr>
                        </thead>
                        <tbody id="grid_body"></tbody>
                    </table>
                    <div class="paging-toolbar">
                        <ul id='grid_paging'></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------添加/修改信息的弹出层---------------------------->
<div id="add"  class="modal fade bs-modal-lg"tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <i class="icon-pencil"></i>
                    <span id="lblAddTitle" style="font-weight:bold">添加信息</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" id="ffAdd" action="" data-toggle="validator" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="row" style="padding-left:20px">
                        <div class="portlet box green-meadow col-md-8">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-home"></i>
                                    基础信息
                                </div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">姓名<span class="required">*</span></label>
                                            <div class="col-md-8">
                                                <input id="Name" name="Name" type="text" class="form-control" placeholder="姓名..." required />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">性别<span class="required">*</span></label>
                                            <div class="col-md-8">
                                                <label class="icheck-inline">
                                                    <input type="radio" name="Sex" value="男" checked class="icheck" />
                                                    男
                                                </label>
                                                <label class="icheck-inline">
                                                    <input type="radio" name="Sex" value="女" class="icheck" />
                                                    女
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">出生日期</label>
                                            <div class="col-md-8">
                                                <input id="Birthdate" name="Birthdate" type="date" class="form-control" placeholder="出生日期..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">手机<span class="required">*</span></label>
                                            <div class="col-md-8">
                                                <input id="Mobile" name="Mobile" type="text" class="form-control" placeholder="手机..." required />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">电子邮箱<span class="required">*</span></label>
                                            <div class="col-md-8">
                                                <input id="Email" name="Email" type="email" class="form-control" placeholder="电子邮箱..." required />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">QQ</label>
                                            <div class="col-md-8">
                                                <input id="QQ" name="QQ" type="text" class="form-control" placeholder="QQ..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">家庭电话</label>
                                            <div class="col-md-8">
                                                <input id="HomeTelephone" name="HomeTelephone" type="text" class="form-control" placeholder="家庭电话..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">办公电话</label>
                                            <div class="col-md-8">
                                                <input id="OfficeTelephone" name="OfficeTelephone" type="text" class="form-control" placeholder="办公电话..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">家庭住址</label>
                                            <div class="col-md-8">
                                                <input id="HomeAddress" name="HomeAddress" type="text" class="form-control" placeholder="家庭住址..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">办公地址</label>
                                            <div class="col-md-8">
                                                <input id="OfficeAddress" name="OfficeAddress" type="text" class="form-control" placeholder="办公地址..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">传真号码</label>
                                            <div class="col-md-8">
                                                <input id="Fax" name="Fax" type="text" class="form-control" placeholder="传真号码..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">公司单位</label>
                                            <div class="col-md-8">
                                                <input id="Company" name="Company" type="text" class="form-control" placeholder="公司单位..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">部门</label>
                                            <div class="col-md-8">
                                                <input id="Dept" name="Dept" type="text" class="form-control" placeholder="部门..." />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">其他</label>
                                            <div class="col-md-8">
                                                <textarea id="Other" name="Other" class="form-control" placeholder="其他..."></textarea>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">备注</label>
                                            <div class="col-md-10">
                                                <textarea id="Note" name="Note" class="form-control" placeholder="备注..."></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet box green-meadow col-md-4">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-users"></i>
                                    通讯录分组
                                </div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <div class="row">
                                    <div id="jstree_group"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input type="hidden" id="ID" name="ID" />
                    <button type="submit" class="btn blue">确定</button>
                    <button type="button" class="btn green" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--------------------------查看信息的弹出层---------------------------->
<div id="view" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">
                    <i class="icon-book-open"></i>
                    <span style="font-weight:bold">查看信息</span>
                </h4>
            </div>
            <form class="form-horizontal form-bordered form-row-strippe" id="ffView" action="">
                <div class="modal-body">                    
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">姓名</label>
                                <div class="col-md-8">
                                    <label id="Name2" name="Name" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">性别</label>
                                <div class="col-md-8">
                                    <label id="Sex2" name="Sex" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">出生日期</label>
                                <div class="col-md-8">
                                    <label id="Birthdate2" name="Birthdate" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">手机</label>
                                <div class="col-md-8">
                                    <label id="Mobile2" name="Mobile" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">电子邮箱</label>
                                <div class="col-md-8">
                                    <label id="Email2" name="Email" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">QQ</label>
                                <div class="col-md-8">
                                    <label id="QQ2" name="QQ" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">家庭电话</label>
                                <div class="col-md-8">
                                    <label id="HomeTelephone2" name="HomeTelephone" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">办公电话</label>
                                <div class="col-md-8">
                                    <label id="OfficeTelephone2" name="OfficeTelephone" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">家庭住址</label>
                                <div class="col-md-8">
                                    <label id="HomeAddress2" name="HomeAddress" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">办公地址</label>
                                <div class="col-md-8">
                                    <label id="OfficeAddress2" name="OfficeAddress" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">传真号码</label>
                                <div class="col-md-8">
                                    <label id="Fax2" name="Fax" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">公司单位</label>
                                <div class="col-md-8">
                                    <label id="Company2" name="Company" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">部门</label>
                                <div class="col-md-8">
                                    <label id="Dept2" name="Dept" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">其他</label>
                                <div class="col-md-8">
                                    <label id="Other2" name="Other" class="form-control"></label>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2">备注</label>
                                <div class="col-md-10">
                                    <label id="Note2" name="Note" class="form-control"></label>
                                </div>
                            </div>
                        </div>
        
                    </div>
                </div>
                <div class="modal-footer bg-info">
                    <input name="ID2" type="hidden" value="">
                    <button type="button" class="btn green" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--导入数据操作层-->
<div id="import" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">文件导入</h4>
            </div>
            <div class="modal-body">
                <div style="text-align:right;padding:5px">
                    <a href="~/Content/Template/Address-模板.xls" onclick="javascript:Preview();">
                        <img alt="文件导入-模板" src="~/Content/images/ico_excel.png" />
                        <span style="font-size:larger;font-weight:200;color:red">Address-模板.xls</span>
                    </a>
                </div>
                <hr/>
                <form id="ffImport" method="post">
                    <div title="Excel导入操作" style="padding: 5px" data-options="iconCls:'icon-key'">
                        <input class="easyui-validatebox" type="hidden" id="AttachGUID" name="AttachGUID" />    
                        <input id="file_upload" name="file_upload" type="file" multiple="multiple">                    
                        <a href="javascript:;" class="btn btn-primary" id="btnUpload" onclick="javascript: $('#file_upload').uploadify('upload', '*')">上传</a>
                        <a href="javascript:;" class="btn btn-default" id="btnCancelUpload" onclick="javascript: $('#file_upload').uploadify('cancel', '*')">取消</a>

                        <div id="fileQueue" class="fileQueue"></div>
                        <br />                    
                        <hr style="width:98%" />                    
                        <div id="div_files"></div>
                        <br />                    
                    </div>
                </form>

                <!--数据显示表格-->
                <table id="gridImport" class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
                    <thead id="gridImport_head">
                        <tr>
                            <th class="table-checkbox" style="width:40px"><input class="group-checkable" type="checkbox" onclick="selectAll(this)"></th>
                             <th>姓名</th>
                             <th>性别</th>
                             <th>出生日期</th>
                             <th>手机</th>
                             <th>电子邮箱</th>
                             <th>QQ</th>
                             <th>家庭电话</th>
                             <th>办公电话</th>
                             <th>家庭住址</th>
                             <th>办公地址</th>
                             <th>传真号码</th>
                             <th>公司单位</th>
                             <th>部门</th>
                             <th>其他</th>
                             <th>备注</th>
        
                        </tr>
                    </thead>
                    <tbody id="gridImport_body"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="SaveImport()">保存</button>
            </div>
        </div>
    </div>
</div>


@section footerScript {

<script type="text/javascript">
        var currentPage = 1, rows = 10; //分页参数：当前页，记录数

        var isAddOrEdit = 'add';//标识是新增还是编辑对话框弹出，用于删除附件的操作
        var url;//新增或者更新的连接
        var ID;//ID值，新增为空，编辑或者查看为具体ID

        var addressType = ("public" == "@Request["type"]") ? "public" : "private";
        var addressTypeField=  ("public" == "@Request["type"]") ? "公共" : "个人";

        //页面初始化
        $(function () {            
            initJsTree(); //初始化树
            InitStyle();        //设置控件的样式
            BindEvent();        //绑定事件处理
            Search(currentPage);//初始化第一页数据
            InitDictItem();     //初始化字典信息
        });

        //绑定左侧树形列表
        function initJsTree() {
            bindJsTree("jstree_div", '/AddressGroup/GetGroupJsTree?addressType=' + addressType);

            //树控件的变化事件处理
            $('#jstree_div').on("changed.jstree", function (e, data) {
                var icon = data.node.icon;
                loadData(data.selected);
            });

        }

        //加载指定的对象数据
        var clickId = "";
        function loadData(id) {
            var condition = "CustomedCondition=" + id;
            SearchCondition(currentPage, condition);

            clickId = id;
        }

        //设置控件的样式
        function InitStyle() {
            
            //统一设置icheck控件的样式
            $('input[class=icheck]').iCheck({
                checkboxClass: 'icheckbox_square-red',
                radioClass: 'iradio_square-red',
            });
                         
            //初始化fileinput控件（第一次初始化）
            //initFileInput("file-Portrait", "/Address/EditPortrait");
        }

        //根据条件查询并绑定结果
        function Search(page) {
            //根据控件Name属性获取表单预设条件
            var condition = $("#ffSearch").serialize();

            //根据需要加上一些特殊条件
            condition += "&WHC_AddressType=" + addressTypeField;
            //condition += "&WHC_Age=" + $("#WHC_Age").val() + "~" + $("#WHC_Age2").val(); //数值范围
            //condition += "&WHC_BirthDate=" + $("#WHC_BirthDate").val() + "~" + $("#WHC_BirthDate2").val(); //日期范围

            SearchCondition(page, condition);
        }
        function SearchCondition(page, condition) {
            //获取Json对象集合，并生成数据显示内容
            url = "/Address/FindByAddressGroup?addressType=" + addressType + "&page=" + page + "&rows=" + rows;
            $.getJSON(url + "&" + condition, function (data) {
                $("#totalCount").text(data.total);
                $("#totalPageCount").text(Math.ceil(data.total / rows));

                $("#grid_body").html("");

                $.each(data.rows, function (i, item) {
                    var tr = "<tr>";
                    tr += "<td><input class='checkboxes' type=\"checkbox\" name=\"checkbox\" value=" + item.ID + "></td>";
                     tr += "<td>" + item.Name + "</td>";
                     tr += "<td>" + item.Sex + "</td>";
                     tr += "<td>" + item.Birthdate + "</td>";
                     tr += "<td>" + item.Mobile + "</td>";
                     tr += "<td>" + item.Email + "</td>";
                     tr += "<td>" + item.QQ + "</td>";
                     // tr += "<td>" + item.HomeTelephone + "</td>";
                     // tr += "<td>" + item.OfficeTelephone + "</td>";
                     // tr += "<td>" + item.HomeAddress + "</td>";
                     // tr += "<td>" + item.OfficeAddress + "</td>";
                     // tr += "<td>" + item.Fax + "</td>";
                     tr += "<td>" + item.Company + "</td>";
                     tr += "<td>" + item.Dept + "</td>";
                     tr += "<td>" + item.Other + "</td>";
                     // tr += "<td>" + item.Note + "</td>";
        
                    tr += getActionHtml(item.ID); //获取查看、编辑、删除操作代码

                    tr += "</tr>";
                    $("#grid_body").append(tr);
                });

                //设置分页属性及处理
                var element = $('#grid_paging');
                if(data.total > 0) {
                    var options = {
                        bootstrapMajorVersion: 3,
                        currentPage: page,
                        numberOfPages: rows,
                        totalPages: Math.ceil(data.total / rows),
                        onPageChanged: function (event, oldPage, newPage) {
                            SearchCondition(newPage, condition);  //页面变化时触发内容更新
                        }
                    }
                    element.bootstrapPaginator(options);
                } else {
                    element.html("");
                }
            });
        }

        //设置一页显示多少条
        function ChangeRows() {
            rows = $("#rows").val();
            Refresh();
        }

        //刷新列表
        function Refresh() {
            Search(currentPage);
        }

        //初始化字典信息（下拉列表）
        function InitDictItem() {
            //部分赋值参考
            
            //绑定字典
            //BindDictItem("Rank", "职务");            
            //绑定树列表
            //BindSelect("PID", "/Menu/GetDictJson");
            
            //绑定可选多个Tag
            // $("#Hobby").select2({
            //     tags: ["旅游", "爬山", "篮球", "足球", "乒乓球"]
            // });
            
            //绑定添加界面的公司、部门（联动处理）
            // BindSelect("Company_ID", "/User/GetMyCompanyDictJson?userId="+@Session["UserId"]);
            // $("#Company_ID").on("change", function (e) {
            //     var companyid = $("#Company_ID").val();
            //     BindSelect("Dept_ID", "/User/GetDeptDictJson?parentId="+ companyid);
            // });
        }

        //实现删除数据的方法
        function Delete() {
            var ids = "";//得到用户选择的数据的ID
            $("[name='checkbox']").each(function () {
                if ($(this).is(':checked')) {
                    ids += $(this).val() + ",";
                }
            });

            DeleteByIds(ids);
        }

        //删除指定的记录
        function DeleteByIds(ids) {
            if (ids != "") {
                showDelete(function () {
                    //最后去掉最后的逗号,
                    ids = ids.replace(/,\s*$/, '');

                    //然后发送异步请求的信息到后台删除数据
                    var postData = { ids: ids };
                    $.post("/Address/DeletebyIds", postData, function (json) {
                        var data = $.parseJSON(json);
                        if (data.Success) {
                            showTips("删除选定的记录成功");
                            Refresh();//刷新页面数据
                        }
                        else {
                            showTips(data.ErrorMessage);
                        }
                    });
                });
            } else {
                showTips("请选择你要删除的数据");
            }
        }

        //初始化图像信息
        function initPortrait(ctrlName, id) {
            var control = $('#' + ctrlName); 
            var imageurl = '/Address/GetPortrait?id=' + id +'&r=' + Math.random();

            //重要，需要更新控件的附加参数内容，以及图片初始化显示
            control.fileinput('refresh', {
                uploadExtraData: { id: id },
                initialPreview: [ //预览图片的设置
                    "<img src='" + imageurl + "' class='file-preview-image' alt='肖像图片' title='肖像图片'>",
                ],
             });
        }

        //弹出新增对话框
        function Add() {
            isAddOrEdit = 'add';//新增对话框标识
            //CKEDITOR.instances.Content.setData('');  //清空编辑器的数据
            $("#ffAdd")[0].reset();//清空上次输入
            $('#ffAdd').validate().resetForm();//去除验证信息

            //增加记录前，赋值ID
            url = '/Address/Insert';
            $.get("/Address/NewGuid?r=" + Math.random(), function (result) {
                $("#ID").val(result);
                ID = result;

                var treeUrl = '/AddressGroup/GetAddressGroupJsTree?userId=@Session["UserId"]&addressType=' + addressType + '&contactId=' + ID;
                bindJsTree("jstree_group", treeUrl, true);
            });

            //初始化部分控件
            //$('input[name="Gender"][value="男"]').iCheck('check');
            //$("#PID").select2("val", "");
            //$("#Hobby").select2('val', null);//清空下拉框

            $("#lblAddTitle").text("添加信息");
            $("#add").modal("show");
        }

        //修改或查看明细信息（绑定显示数据）
        function EditView(view) {
            ID = "";//重置ID的值
            $("[name='checkbox']").each(function () {
                if ($(this).is(':checked')) {
                    ID = $(this).val();//首先取出来用户选择的数据的ID
                }
            });
            
            EditViewById(ID, view);
        }

        //编辑或者查看指定记录
        function EditViewById(ID, view) {
            if (ID == "") {
                showTips("请选择一条记录");
                return;
            }

            if (view == null) {
                //处理修改的信息
                $("#lblAddTitle").text("修改信息");
                $("#add").modal("show");
                url = '/Address/Update?ID=' + ID;
                //绑定修改详细信息的方法
                BindEditInfo(ID);
            }
            else {
                //处理查看详细
                $("#view").modal("show");
                //绑定查看详细信息方法
                BindViewInfo(ID);
            }
        }

        //绑定编辑详细信息的方法
        function BindEditInfo(ID) {
            //使用同步方式，使得联动的控件正常显示
            $.ajaxSettings.async = false;

            $('#ffAdd').validate().resetForm();//去除验证信息

            //首先用户发送一个异步请求去后台实现方法
            $.getJSON("/Address/FindByID?r=" + Math.random() + "&id=" + ID, function (info) {
                 $("#Name").val(info.Name);
                 $("#Sex").val(info.Sex);
                 $("#Birthdate").val(getDateStr(info.Birthdate));
                 $("#Mobile").val(info.Mobile);
                 $("#Email").val(info.Email);
                 $("#QQ").val(info.QQ);
                 $("#HomeTelephone").val(info.HomeTelephone);
                 $("#OfficeTelephone").val(info.OfficeTelephone);
                 $("#HomeAddress").val(info.HomeAddress);
                 $("#OfficeAddress").val(info.OfficeAddress);
                 $("#Fax").val(info.Fax);
                 $("#Company").val(info.Company);
                 $("#Dept").val(info.Dept);
                 $("#Other").val(info.Other);
                 $("#Note").val(info.Note);
        
                //参考赋值
                //$("#Company_ID1").select2("val", info.Company_ID).trigger('change');//联动
                //$("#PID1").select2("val", info.PID);//普通Select2
                // var array = [info.Hobby];
                // $("#Hobby").select2('val', array); //集合

                // $("input[name='Gender']").iCheck('uncheck');
                // $("input[name='Gender'][value='" + info.Gender + "']").iCheck('check');
                // $("#BirthDate").val(getDateStr(info.BirthDate));                

                var treeUrl = '/AddressGroup/GetAddressGroupJsTree?userId=@Session["UserId"]&addressType=' + addressType + '&contactId=' + ID;
                bindJsTree("jstree_group", treeUrl, true);

                $("#ID").val(info.ID);
                isAddOrEdit = 'edit';//新增对话框标识
            });

        }

        //绑定查看详细信息的方法
        function BindViewInfo(ID) {
            //发送请求
            $.getJSON("/Address/FindByID?r=" + Math.random() + "&id=" + ID, function (info) {
                //$("#ID2").text(info.ID);

                 $("#Name2").text(info.Name);
                 $("#Sex2").text(info.Sex);
                 $("#Birthdate2").text(info.Birthdate);
                 $("#Mobile2").text(info.Mobile);
                 $("#Email2").text(info.Email);
                 $("#QQ2").text(info.QQ);
                 $("#HomeTelephone2").text(info.HomeTelephone);
                 $("#OfficeTelephone2").text(info.OfficeTelephone);
                 $("#HomeAddress2").text(info.HomeAddress);
                 $("#OfficeAddress2").text(info.OfficeAddress);
                 $("#Fax2").text(info.Fax);
                 $("#Company2").text(info.Company);
                 $("#Dept2").text(info.Dept);
                 $("#Other2").text(info.Other);
                 $("#Note2").text(info.Note);
                 $("#Creator2").text(info.Creator);
                 $("#CreateTime2").text(info.CreateTime);
                 $("#Editor2").text(info.Editor);
                 $("#EditTime2").text(info.EditTime);
    
                //$.getJSON("/User/GetNameById?userid=" + info.Creator, function (result) {
                //    $("#Creator2").text(result);
                //});
                //$.getJSON("/User/GetNameById?userid=" + info.Editor, function (result) {
                //    $("#Editor2").text(result);
                //});
                //

                //树形控件
                // var treeUrl = '/Function/GetFunctionJsTreeJsonByUser?userId=' + info.ID;
                // bindJsTree("jstree_function2", treeUrl);
            });
        }

        //显示导入界面
        function ShowImport() {
            $("#import").modal("show");
        }

        //导出Excel数据
        function ShowExport() {
            var url = "/Address/Export";
            var condition = $("#ffSearch").serialize();//获取条件

            executeExport(url, condition);//执行导出
        }

        //绑定相关事件
        function BindEvent() {
            //添加、编辑记录的窗体处理
            formValidate("ffAdd", function (form) {
                $("#add").modal("hide");
                //构造参数发送给后台
                var postData = $("#ffAdd").serializeArray();
                $.post(url, postData, function (json) {
                    var data = $.parseJSON(json);
                    if (data.Success) {
                        //可增加其他处理
                        SaveAddressGroup();

                        //保存成功  1.关闭弹出层，2.刷新表格数据
                        showTips("保存成功");
                        Refresh();
                    }
                    else {
                        showError("保存失败:" + data.ErrorMessage, 3000);
                    }
                }).error(function () {
                    showTips("您未被授权使用该功能，请联系管理员进行处理。");
                });
            });
        }

        //保存通讯录分组
        function SaveAddressGroup() {
            var groupList = $('#jstree_group').jstree('get_selected');
            var ID = $("#ID").val();

            //插入记录的时候，如何获取ID？
            var posturl = "/Address/ModifyAddressGroup";
            var postData = { id: ID, groupIdList: groupList.join(',') };

            $.post(posturl, postData, function (json) {
                var data = $.parseJSON(json);
                if (data.Success) {
                    //showTips("保存联系人分组成功");
                }
                else {
                    showError("保存通讯录分组失败:" + data.ErrorMessage);
                }
            });
        }     

        function AddressGroup() {
            var viewUrl = '/AddressGroup/Index?type=' + addressType;
            location.href=viewUrl; 
        }   

    </script>

<!--添加对uploadify控件的支持-->
<script type="text/javascript">
        $(function () {

            //添加界面的附件管理
            $('#file_upload').uploadify({
                'swf': '/Content/JQueryTools/uploadify/uploadify.swf',  //FLash文件路径
                'buttonText': '浏  览',                                 //按钮文本
                'uploader': '/FileUpload/Upload',                       //处理ASHX页面
                'queueID': 'fileQueue',                        //队列的ID
                'queueSizeLimit': 1,                          //队列最多可上传文件数量，默认为999
                'auto': false,                                 //选择文件后是否自动上传，默认为true
                'multi': false,                                 //是否为多选，默认为true
                'removeCompleted': true,                       //是否完成后移除序列，默认为true
                'fileSizeLimit': '10MB',                       //单个文件大小，0为无限制，可接受KB,MB,GB等单位的字符串值
                'fileTypeDesc': 'Excel Files',                 //文件描述
                'fileTypeExts': '*.xls',  //上传的文件后缀过滤器
                'onQueueComplete': function (event, data) {    //所有队列完成后事件

                    var guid = $("#AttachGUID").val();
                    ViewUpFiles(guid, "div_files");

                    //提示用户Excel格式是否正常，如果正常加载数据
                    $.ajax({
                        url: '/Address/CheckExcelColumns?guid=' + guid,
                        type: 'get',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Success) {
                                InitGrid(); //重新刷新表格数据
                                showToast("文件已上传，数据加载完毕！");
                            }
                            else {
                                showToast("上传的Excel文件检查不通过。请根据页面右上角的Excel模板格式进行数据录入。", "error");
                            }
                        }
                    });
                },
                'onUploadStart': function (file) {
                    InitUpFile();//上传文件前 ，重置GUID，每次不同
                    $("#file_upload").uploadify("settings", 'formData', { 'folder': '数据导入文件', 'guid': $("#AttachGUID").val() }); //动态传参数
                },
                'onUploadError': function (event, queueId, fileObj, errorObj) {
                    //alert(errorObj.type + "：" + errorObj.info);
                }
            });
        });

        var attachguid = "";//用来记录附件组的ID，方便更新
        function InitUpFile() {
            //新增的时候，绑定附件显示
            var guid = newGuid();
            $("#AttachGUID").val(guid);
            attachguid = guid;
            ViewUpFiles(attachguid, "div_files");//更新列表
        }

        //删除指定的附件后，对附件组进行更新
        function deleteAttach(id) {
            DeleteAndRefreshAttach(id, attachguid, "div_files");
        }

        //根据条件查询并绑定结果
        function InitGrid() {
            var guid = $("#AttachGUID").val();
            var url = "/Address/GetExcelData?guid=" + guid;
            $.getJSON(url, function (data) {
                $("#gridImport_body").html("");

                $.each(data.rows, function (i, item) {
                    var tr = "<tr>";
                    tr += "<td><input class='checkboxes' type=\"checkbox\" name=\"checkbox\" value=" + item.ID + "></td>";
                     tr += "<td>" + item.Name + "</td>";
                     tr += "<td>" + item.Sex + "</td>";
                     tr += "<td>" + item.Birthdate + "</td>";
                     tr += "<td>" + item.Mobile + "</td>";
                     tr += "<td>" + item.Email + "</td>";
                     tr += "<td>" + item.QQ + "</td>";
                     tr += "<td>" + item.HomeTelephone + "</td>";
                     tr += "<td>" + item.OfficeTelephone + "</td>";
                     tr += "<td>" + item.HomeAddress + "</td>";
                     tr += "<td>" + item.OfficeAddress + "</td>";
                     tr += "<td>" + item.Fax + "</td>";
                     tr += "<td>" + item.Company + "</td>";
                     tr += "<td>" + item.Dept + "</td>";
                     tr += "<td>" + item.Position + "</td>";
                     tr += "<td>" + item.Other + "</td>";
                     tr += "<td>" + item.Note + "</td>";
        
                    tr += "</tr>";
                    $("#gridImport_body").append(tr);
                });
            });
        }

        //保存导入的数据
        function SaveImport() {
            
            var list = [];//构造集合对象
            var i = 0;
            var bodyTag = "#gridImport_body";
            $(bodyTag +" tr").each(function() {
                //判断是否选中，选中的记录才导入数据库
                var checkbox = $(this).find("td").find(".checkboxes");

                if (checkbox!=undefined && $(checkbox).is(':checked')) {                    
                    //遍历每个TD，获取内容，并添加进列表
                    var rows = [];
                    $(this).find('td:not(:first-child)').each (function() {
                        rows.push($(this).text());
                        // alert($(this).text());
                    });    

                    list.push({ 'AddressType': rows[0],'Name': rows[1],'Sex': rows[2],'Birthdate': rows[3],'Mobile': rows[4],'Email': rows[5],'QQ': rows[6],'HomeTelephone': rows[7],'OfficeTelephone': rows[8],'HomeAddress': rows[9],'OfficeAddress': rows[10],'Fax': rows[11],'Company': rows[12],'Dept': rows[13],'Position': rows[14],'Other': rows[15],'Note': rows[16] });
                    i++;
                }
            });

            if (list.length == 0) {
                showToast("请选择一条记录", "warning");
                return;
            }

            var postData = { 'list': list };//可以增加其他参数，如{ 'list': list, 'Rucanghao': $("#Rucanghao").val() };
            postData = JSON.stringify(postData);

            $.ajax({
                url: '/Address/SaveExcelData',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                traditional: true,
                success: function (data) {
                    if (data.Success) {
                        //保存成功  1.关闭弹出层，2.清空记录显示 3.刷新主列表
                        showToast("保存成功");

                        $("#import").modal("hide");
                        $(bodyTag).html("");
                        Refresh();
                    }
                    else {
                        showToast("保存失败:" + data.ErrorMessage, "error");
                    }
                },
                data: postData
            });
        }
</script>

}
