<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计投票</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Content/themes/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Content/themes/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/Content/themes/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/Content/themes/css/animate.min.css" rel="stylesheet">
    <link href="/Content/themes/css/style.min.css?v=4.0.0" rel="stylesheet">
    <style>
        table {
            border: 1px solid #555555;
            margin: 1px;
            border-collapse: collapse;
            font-size: 12px;
        }

            table td, table th {
                border: 1px solid #555555;
                text-align: center;
            }

        textarea {
            width: 800px;
            height: 300px;
            padding: 20px;
            outline: none;
        }
    </style>
    <base target="_blank">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <button type="button" id="printbtn" onclick="printdata()" class="btn btn-block btn-outline btn-primary">打印数据</button>
                            <p class="btn btn-block btn-outline btn-primary" id="louzhuangtxt"></p>
                            <div class="spiner-example">
                                <div class="sk-spinner sk-spinner-three-bounce">
                                    <div class="sk-bounce1"></div>
                                    <div class="sk-bounce2"></div>
                                    <div class="sk-bounce3"></div>
                                </div>
                            </div>
                            <div id="xlstable">
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

    <script src="/Scripts/jquery.min.js?v=2.1.4"></script>
    <script src="/Scripts/bootstrap.min.js?v=3.3.5"></script>
    <script src="/Scripts/content.min.js?v=1.0.0"></script>
    <script src="/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/Scripts/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Scripts/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/Scripts/plugins/exclsTable/Table.js"></script>
  
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
        window.onload = function () {
            var headerdata = null;
            var data = new Array();
            // 获取louzhuang参数
            var louzhuang = getQueryVariable('louzhuang');

            $("#louzhuangtxt").text("钱塘东南家园"+louzhuang+"幢统计表");

            // 获取表头
            $.ajax({
                type: "post",
                url: "/Interface/GetAjaxDongnanhai2_Statistics_title?louzhuang=" + louzhuang,
                async: false,
                success: function (t) {
                    headerdata = eval(t);
                }
            });

            $.ajax({
                type: "post",
                url: "/Interface/GetAjaxDongnanhai2_Statistics?louzhuang=" + louzhuang,
                async: false,
                success: function (t) {
                    var rowCount = t.total;
                    var tmpRow = new Array();
                    var tmpIndex = 0;
                    var DataIndex = Number(t.rows[0].Fanghao.substring(0, 2));
                    for (var i = 0; i < t.rows.length; i++) {
                        ceng = Number(t.rows[i].Fanghao.substring(0, 2));
                        if (ceng != DataIndex) {
                            data[DataIndex] = tmpRow;
                            DataIndex++;
                            tmpIndex = 0;
                            tmpRow = new Array();
                        }
                        tmpRow[tmpIndex] = t.rows[i].Util + "单元" + ceng + "楼";
                        tmpIndex++;
                        tmpRow[tmpIndex] = (t.rows[i].Flag == 0 ? '<span style="color: red">' + t.rows[i].Fanghao + '</span>' : t.rows[i].Fanghao);
                        tmpIndex++;
                        if (t.rows[i].Flag == 0)
                        {
                            tmpRow[tmpIndex] = '<span style="color: red">未投</span>';
                        }
                        if (t.rows[i].Flag == 1)
                        {
                            tmpRow[tmpIndex] = '<span style="color: green">已投</span>';
                        }
                        if (t.rows[i].Flag == 2)
                        {
                            tmpRow[tmpIndex] = '<span style="color: green">现场已投</span>';
                        }
                        if (t.rows[i].Flag == 3) {
                            tmpRow[tmpIndex] = '<span style="color: green">电话已投</span>';
                        }
                        tmpIndex++;
                    }

                    if (tmpRow.length > 0) data[DataIndex] = tmpRow;
                }
            });

            Table().init({
                id: 'xlstable',
                //header: ['单元楼层', '房号', '投票情况', '单元楼层', '房号', '投票情况', '单元楼层', '房号', '投票情况', '单元楼层', '房号', '投票情况'],
                header: headerdata,
                data: data,
                /*data: [
                    ['1单元1楼', '101', '<span style="color: green">已投</span>', '1单元1楼', '102', '<span style="color: red">未投</span>', '1单元1楼', '103', '未投', '1单元1楼', '104', '未投'],
                    ['1单元2楼', '201', '未投'],
                ]*/
            });

            $(".spiner-example").hide();
        }

        function printdata() {
            document.getElementById('printbtn').style.display = "none";
            window.document.body.innerHTML = document.documentElement.innerHTML;
            window.print();
            document.getElementById('printbtn').style.display = "block";
        }

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
    </script>
</body>
</html>