<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票情况</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Content/themes/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Content/themes/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/Content/themes/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/Content/themes/css/animate.min.css" rel="stylesheet">
    <link href="/Content/themes/css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=1'" class="btn btn-block btn-outline btn-primary">钱塘东南家园1幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=2'" class="btn btn-block btn-outline btn-primary">钱塘东南家园2幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=3'" class="btn btn-block btn-outline btn-primary">钱塘东南家园3幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=4'" class="btn btn-block btn-outline btn-primary">钱塘东南家园4幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=5'" class="btn btn-block btn-outline btn-primary">钱塘东南家园5幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=6'" class="btn btn-block btn-outline btn-primary">钱塘东南家园6幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=7'" class="btn btn-block btn-outline btn-primary">钱塘东南家园7幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=8'" class="btn btn-block btn-outline btn-primary">钱塘东南家园8幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=9'" class="btn btn-block btn-outline btn-primary">钱塘东南家园9幢</button>
                            <button type="button" disabled="disabled" onclick="window.location.href='/Home/Index_Statistics?louzhuang=10'" class="btn btn-block btn-outline btn-primary">钱塘东南家园10幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=11'" class="btn btn-block btn-outline btn-primary">钱塘东南家园11幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=12'" class="btn btn-block btn-outline btn-primary">钱塘东南家园12幢</button>
                            <button type="button" disabled="disabled" onclick="window.location.href='/Home/Index_Statistics?louzhuang=13'" class="btn btn-block btn-outline btn-primary">钱塘东南家园13幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=14'" class="btn btn-block btn-outline btn-primary">钱塘东南家园14幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=15'" class="btn btn-block btn-outline btn-primary">钱塘东南家园15幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=16'" class="btn btn-block btn-outline btn-primary">钱塘东南家园16幢</button>
                            <button type="button" onclick="window.location.href='/Home/Index_Statistics?louzhuang=17'" class="btn btn-block btn-outline btn-primary">钱塘东南家园17幢</button>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

    <script src="/Scripts/jquery.min.js?v=2.1.4"></script>
    <script src="/Scripts/bootstrap.min.js?v=3.3.5"></script>
    <script src="/Scripts/content.min.js?v=1.0.0"></script>
    <script src="/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/Scripts/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Scripts/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
</body>
</html>