.icon-24-001_01{
	background:url('001_01.png') no-repeat;
}
.icon-24-001_02{
	background:url('001_02.png') no-repeat;
}
.icon-24-001_03{
	background:url('001_03.png') no-repeat;
}
.icon-24-001_04{
	background:url('001_04.png') no-repeat;
}
.icon-24-001_05{
	background:url('001_05.png') no-repeat;
}
.icon-24-001_06{
	background:url('001_06.png') no-repeat;
}
.icon-24-001_07{
	background:url('001_07.png') no-repeat;
}
.icon-24-001_08{
	background:url('001_08.png') no-repeat;
}
.icon-24-001_09{
	background:url('001_09.png') no-repeat;
}
.icon-24-001_10{
	background:url('001_10.png') no-repeat;
}
.icon-24-001_11{
	background:url('001_11.png') no-repeat;
}
.icon-24-001_12{
	background:url('001_12.png') no-repeat;
}
.icon-24-001_13{
	background:url('001_13.png') no-repeat;
}
.icon-24-001_14{
	background:url('001_14.png') no-repeat;
}
.icon-24-001_15{
	background:url('001_15.png') no-repeat;
}
.icon-24-001_16{
	background:url('001_16.png') no-repeat;
}
.icon-24-001_17{
	background:url('001_17.png') no-repeat;
}
.icon-24-001_18{
	background:url('001_18.png') no-repeat;
}
.icon-24-001_19{
	background:url('001_19.png') no-repeat;
}
.icon-24-001_20{
	background:url('001_20.png') no-repeat;
}
.icon-24-001_21{
	background:url('001_21.png') no-repeat;
}
.icon-24-001_22{
	background:url('001_22.png') no-repeat;
}
.icon-24-001_23{
	background:url('001_23.png') no-repeat;
}
.icon-24-001_24{
	background:url('001_24.png') no-repeat;
}
.icon-24-001_25{
	background:url('001_25.png') no-repeat;
}
.icon-24-001_26{
	background:url('001_26.png') no-repeat;
}
.icon-24-001_27{
	background:url('001_27.png') no-repeat;
}
.icon-24-001_28{
	background:url('001_28.png') no-repeat;
}
.icon-24-001_29{
	background:url('001_29.png') no-repeat;
}
.icon-24-001_30{
	background:url('001_30.png') no-repeat;
}
.icon-24-001_31{
	background:url('001_31.png') no-repeat;
}
.icon-24-001_32{
	background:url('001_32.png') no-repeat;
}
.icon-24-001_33{
	background:url('001_33.png') no-repeat;
}
.icon-24-001_34{
	background:url('001_34.png') no-repeat;
}
.icon-24-001_35{
	background:url('001_35.png') no-repeat;
}
.icon-24-001_36{
	background:url('001_36.png') no-repeat;
}
.icon-24-001_37{
	background:url('001_37.png') no-repeat;
}
.icon-24-001_38{
	background:url('001_38.png') no-repeat;
}
.icon-24-001_39{
	background:url('001_39.png') no-repeat;
}
.icon-24-001_40{
	background:url('001_40.png') no-repeat;
}
.icon-24-001_41{
	background:url('001_41.png') no-repeat;
}
.icon-24-001_42{
	background:url('001_42.png') no-repeat;
}
.icon-24-001_43{
	background:url('001_43.png') no-repeat;
}
.icon-24-001_44{
	background:url('001_44.png') no-repeat;
}
.icon-24-001_45{
	background:url('001_45.png') no-repeat;
}
.icon-24-001_46{
	background:url('001_46.png') no-repeat;
}
.icon-24-001_47{
	background:url('001_47.png') no-repeat;
}
.icon-24-001_48{
	background:url('001_48.png') no-repeat;
}
.icon-24-001_49{
	background:url('001_49.png') no-repeat;
}
.icon-24-001_50{
	background:url('001_50.png') no-repeat;
}
.icon-24-001_51{
	background:url('001_51.png') no-repeat;
}
.icon-24-001_52{
	background:url('001_52.png') no-repeat;
}
.icon-24-001_53{
	background:url('001_53.png') no-repeat;
}
.icon-24-001_54{
	background:url('001_54.png') no-repeat;
}
.icon-24-001_55{
	background:url('001_55.png') no-repeat;
}
.icon-24-001_56{
	background:url('001_56.png') no-repeat;
}
.icon-24-001_57{
	background:url('001_57.png') no-repeat;
}
.icon-24-001_58{
	background:url('001_58.png') no-repeat;
}
.icon-24-001_59{
	background:url('001_59.png') no-repeat;
}
.icon-24-001_60{
	background:url('001_60.png') no-repeat;
}
.icon-24-10_24x24{
	background:url('10_24x24.png') no-repeat;
}
.icon-24-11_24x24{
	background:url('11_24x24.png') no-repeat;
}
.icon-24-12_24x24{
	background:url('12_24x24.png') no-repeat;
}
.icon-24-13_24x24{
	background:url('13_24x24.png') no-repeat;
}
.icon-24-14_24x24{
	background:url('14_24x24.png') no-repeat;
}
.icon-24-15_24x24{
	background:url('15_24x24.png') no-repeat;
}
.icon-24-16_24x24{
	background:url('16_24x24.png') no-repeat;
}
.icon-24-17_24x24{
	background:url('17_24x24.png') no-repeat;
}
.icon-24-18_24x24{
	background:url('18_24x24.png') no-repeat;
}
.icon-24-19_24x24{
	background:url('19_24x24.png') no-repeat;
}
.icon-24-1_24x24{
	background:url('1_24x24.png') no-repeat;
}
.icon-24-20_24x24{
	background:url('20_24x24.png') no-repeat;
}
.icon-24-21_24x24{
	background:url('21_24x24.png') no-repeat;
}
.icon-24-22_24x24{
	background:url('22_24x24.png') no-repeat;
}
.icon-24-23_24x24{
	background:url('23_24x24.png') no-repeat;
}
.icon-24-24-2{
	background:url('24 (2).png') no-repeat;
}
.icon-24-24-3{
	background:url('24 (3).png') no-repeat;
}
.icon-24-24-4{
	background:url('24 (4).png') no-repeat;
}
.icon-24-24{
	background:url('24.png') no-repeat;
}
.icon-24-24_24x24{
	background:url('24_24x24.png') no-repeat;
}
.icon-24-25_24x24{
	background:url('25_24x24.png') no-repeat;
}
.icon-24-26_24x24{
	background:url('26_24x24.png') no-repeat;
}
.icon-24-27_24x24{
	background:url('27_24x24.png') no-repeat;
}
.icon-24-28_24x24{
	background:url('28_24x24.png') no-repeat;
}
.icon-24-29_24x24{
	background:url('29_24x24.png') no-repeat;
}
.icon-24-2_24x24{
	background:url('2_24x24.png') no-repeat;
}
.icon-24-30_24x24{
	background:url('30_24x24.png') no-repeat;
}
.icon-24-31_24x24{
	background:url('31_24x24.png') no-repeat;
}
.icon-24-3_24x24{
	background:url('3_24x24.png') no-repeat;
}
.icon-24-4_24x24{
	background:url('4_24x24.png') no-repeat;
}
.icon-24-5_24x24{
	background:url('5_24x24.png') no-repeat;
}
.icon-24-6_24x24{
	background:url('6_24x24.png') no-repeat;
}
.icon-24-7_24x24{
	background:url('7_24x24.png') no-repeat;
}
.icon-24-8_24x24{
	background:url('8_24x24.png') no-repeat;
}
.icon-24-9_24x24{
	background:url('9_24x24.png') no-repeat;
}
.icon-24-accept24{
	background:url('accept24.png') no-repeat;
}
.icon-24-account24{
	background:url('account24.png') no-repeat;
}
.icon-24-add-24{
	background:url('add-24.png') no-repeat;
}
.icon-24-add-event24{
	background:url('add-event24.png') no-repeat;
}
.icon-24-add{
	background:url('add.png') no-repeat;
}
.icon-24-add1-24{
	background:url('add1-24.png') no-repeat;
}
.icon-24-add2-24{
	background:url('add2-24.png') no-repeat;
}
.icon-24-add24{
	background:url('add24.png') no-repeat;
}
.icon-24-addfile24{
	background:url('addfile24.png') no-repeat;
}
.icon-24-addressbook-24{
	background:url('addressbook-24.png') no-repeat;
}
.icon-24-addressbook24{
	background:url('addressbook24.png') no-repeat;
}
.icon-24-adduser24{
	background:url('adduser24.png') no-repeat;
}
.icon-24-administrator{
	background:url('administrator.png') no-repeat;
}
.icon-24-advertisment-24{
	background:url('advertisment-24.png') no-repeat;
}
.icon-24-Airport{
	background:url('Airport.png') no-repeat;
}
.icon-24-alarm24{
	background:url('alarm24.png') no-repeat;
}
.icon-24-alert24{
	background:url('alert24.png') no-repeat;
}
.icon-24-alien_24{
	background:url('alien_24.png') no-repeat;
}
.icon-24-alien_egg_24{
	background:url('alien_egg_24.png') no-repeat;
}
.icon-24-Ambulance{
	background:url('Ambulance.png') no-repeat;
}
.icon-24-android_platform{
	background:url('android_platform.png') no-repeat;
}
.icon-24-anykey_answer{
	background:url('anykey_answer.png') no-repeat;
}
.icon-24-app24{
	background:url('app24.png') no-repeat;
}
.icon-24-application24{
	background:url('application24.png') no-repeat;
}
.icon-24-applications-24{
	background:url('applications-24.png') no-repeat;
}
.icon-24-applications{
	background:url('applications.png') no-repeat;
}
.icon-24-archive-24{
	background:url('archive-24.png') no-repeat;
}
.icon-24-article-24{
	background:url('article-24.png') no-repeat;
}
.icon-24-atv_racing{
	background:url('atv_racing.png') no-repeat;
}
.icon-24-audio-file24{
	background:url('audio-file24.png') no-repeat;
}
.icon-24-author-24{
	background:url('author-24.png') no-repeat;
}
.icon-24-autoship24{
	background:url('autoship24.png') no-repeat;
}
.icon-24-back{
	background:url('back.png') no-repeat;
}
.icon-24-back24-2{
	background:url('back24 (2).png') no-repeat;
}
.icon-24-back24{
	background:url('back24.png') no-repeat;
}
.icon-24-backward-24{
	background:url('backward-24.png') no-repeat;
}
.icon-24-backward24{
	background:url('backward24.png') no-repeat;
}
.icon-24-balalayka_24x24{
	background:url('balalayka_24x24.png') no-repeat;
}
.icon-24-ball-24{
	background:url('ball-24.png') no-repeat;
}
.icon-24-ballblue-24{
	background:url('ballblue-24.png') no-repeat;
}
.icon-24-ballgreen-24{
	background:url('ballgreen-24.png') no-repeat;
}
.icon-24-ballooning{
	background:url('ballooning.png') no-repeat;
}
.icon-24-ballorange-24{
	background:url('ballorange-24.png') no-repeat;
}
.icon-24-ballred-24{
	background:url('ballred-24.png') no-repeat;
}
.icon-24-ball_blue_1{
	background:url('ball_blue_1.png') no-repeat;
}
.icon-24-ball_blue_2{
	background:url('ball_blue_2.png') no-repeat;
}
.icon-24-ball_red_1{
	background:url('ball_red_1.png') no-repeat;
}
.icon-24-ball_red_2{
	background:url('ball_red_2.png') no-repeat;
}
.icon-24-ball_yellow_1{
	background:url('ball_yellow_1.png') no-repeat;
}
.icon-24-ball_yellow_2{
	background:url('ball_yellow_2.png') no-repeat;
}
.icon-24-Bank{
	background:url('Bank.png') no-repeat;
}
.icon-24-banknote{
	background:url('banknote.png') no-repeat;
}
.icon-24-bar_chart{
	background:url('bar_chart.png') no-repeat;
}
.icon-24-basic-data24{
	background:url('basic-data24.png') no-repeat;
}
.icon-24-basket{
	background:url('basket.png') no-repeat;
}
.icon-24-Big_foot_24{
	background:url('Big_foot_24.png') no-repeat;
}
.icon-24-billofdocument{
	background:url('bill of document.png') no-repeat;
}
.icon-24-Binoculars{
	background:url('Binoculars.png') no-repeat;
}
.icon-24-BishopYellow{
	background:url('BishopYellow.png') no-repeat;
}
.icon-24-blackberry{
	background:url('blackberry.png') no-repeat;
}
.icon-24-black_spider_24{
	background:url('black_spider_24.png') no-repeat;
}
.icon-24-blogroll-24{
	background:url('blogroll-24.png') no-repeat;
}
.icon-24-book-24{
	background:url('book-24.png') no-repeat;
}
.icon-24-Book3{
	background:url('Book3.png') no-repeat;
}
.icon-24-book_24{
	background:url('book_24.png') no-repeat;
}
.icon-24-box_24{
	background:url('box_24.png') no-repeat;
}
.icon-24-Box_Blue{
	background:url('Box_Blue.png') no-repeat;
}
.icon-24-Box_Green{
	background:url('Box_Green.png') no-repeat;
}
.icon-24-Box_Grey{
	background:url('Box_Grey.png') no-repeat;
}
.icon-24-Box_Orange{
	background:url('Box_Orange.png') no-repeat;
}
.icon-24-Box_Red{
	background:url('Box_Red.png') no-repeat;
}
.icon-24-Box_Yellow{
	background:url('Box_Yellow.png') no-repeat;
}
 