<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>算法实现Demo1</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Content/themes/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Content/themes/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/Content/themes/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/Content/themes/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/Content/themes/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/Content/themes/css/animate.min.css" rel="stylesheet">
    <link href="/Content/themes/css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group" style="z-index:9999;">
                                    <div class="input-group" style="width:210px; white-space: nowrap; float: left; margin-left:5px;">
                                        <label class="col-sm-6 control-label" style="padding-top: 8px;">递增(递减)情况</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name="seltype" id="seltype" style="width: 90px;">
                                                <option value="0">不变</option>
                                                <option value="1">按金额</option>
                                                <option value="2">按比例</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input-group" style="width:150px; white-space: nowrap; float: left; margin-left:5px;">
                                        <input type="text" class="form-control" id="txtincrease" placeholder="递增(递减)比例/金额" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                    </div>

                                    <div class="input-group" style="width:150px; white-space: nowrap; float: left; margin-left:5px;">
                                        <input type="text" class="form-control" id="txtn" placeholder="输入参数n" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                    </div>
                                    <div class="input-group" style="width:150px; white-space: nowrap; float: left; margin-left:5px;">
                                        <input type="text" class="form-control" id="txtr" placeholder="输入参数r" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" />
                                    </div>
                                   
                                    <button type="button" class="btn btn-w-m btn-primary" id="btn_calc" style="margin-left: 3px; border-radius: 3px;">计算</button>
                                    
                                    <div class="input-group" style="white-space: nowrap; float: left; margin-left:50px;" id="txtresulttext">
                                        <!--div class="alert alert-success" style="padding: 10px; margin-bottom:0px;">
                                            H+是一个很棒的后台UI框架
                                        </div-->
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <script src="/Scripts/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtincrease").val(0);
            $("#txtincrease").attr("disabled", "disabled");
            $('#seltype').change(function () {
                $selvalue = $(this).children('option:selected').val();
                if ($selvalue == 0)
                {
                    $("#txtincrease").val(0);
                    $("#txtincrease").attr("disabled", "disabled");
                }
                else if ($selvalue == 1)
                {
                    $("#txtincrease").val("");
                    $("#txtincrease").removeAttr("disabled");
                }
                else if ($selvalue == 2)
                {
                    $("#txtincrease").val("");
                    $("#txtincrease").removeAttr("disabled");
                }
            });

            $('#btn_calc').bind('click', function () {
                $seltype = $("#seltype").children('option:selected').val();
                $txtincrease = $("#txtincrease").val();
                $txtn = $("#txtn").val();
                $txtr = $("#txtr").val();

                $.post("/Demo/CalcDemo", { n: $txtn, type: $seltype, r: $txtr, increase: $txtincrease }, function (result) {
                    // 表示计算成功
                    if (result.ErrCode == 0)
                    {
                        $("#txtresulttext").html("<div class='alert alert-success' style='padding: 10px; margin-bottom:0px;'>计算结果为" + result.ErrMsg + "</div>");
                    }
                    else if (result.ErrCode > 0)
                    {
                        $("#txtresulttext").html("<div class='alert alert-danger' style='padding: 10px; margin-bottom:0px;'>出错啦，出错原因:" + result.ErrMsg + "</div>");
                    }
                });
            });
        });
    </script>
    </body>
</html>