USE [wjm371002515]
GO
/****** Object:  User [wjm371002515]    Script Date: 03/29/2014 11:13:10 ******/
CREATE USER [wjm371002515] FOR LOGIN [wjm371002515] WITH DEFAULT_SCHEMA=[wjm371002515]
GO
/****** Object:  Schema [wjm371002515]    Script Date: 03/29/2014 11:13:10 ******/
CREATE SCHEMA [wjm371002515] AUTHORIZATION [wjm371002515]
GO
/****** Object:  StoredProcedure [dbo].[sp_Pager]    Script Date: 03/29/2014 11:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_Pager]
@tableName varchar(64),  --分页表名
@columns varchar(512),  --查询的字段
@order varchar(256),    --排序方式
@pageSize int,  --每页大小
@pageIndex int,  --当前页
@where varchar(1024) = '1=1',  --查询条件
@totalCount int output  --总记录数
as
declare @beginIndex int,@endIndex int,@sqlResult nvarchar(2000),@sqlGetCount nvarchar(2000)
set @beginIndex = (@pageIndex - 1) * @pageSize + 1  --开始
set @endIndex = (@pageIndex) * @pageSize  --结束
set @sqlresult = 'select '+@columns+' from (
select row_number() over(order by '+ @order +')
as Rownum,'+@columns+'
from '+@tableName+' where '+ @where +') as T
where T.Rownum between ' + CONVERT(varchar(max),@beginIndex) + ' and ' + CONVERT(varchar(max),@endIndex)
set @sqlGetCount = 'select @totalCount = count(*) from '+@tablename+' where ' + @where  --总数
--print @sqlresult
exec(@sqlresult)
exec sp_executesql @sqlGetCount,N'@totalCount int output',@totalCount output
--测试调用：
--declare @total int
--exec sp_Pager 'tbLoginInfo','Id,UserName,Success','LoginDate','desc',4,2,'1=1',@total output
--print @total
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAuthorityByUserId]    Script Date: 03/29/2014 11:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_GetAuthorityByUserId]  
@userId int  --用户主键id  
as    
declare @roleIds varchar(128)  --用户所有的角色集合  
declare @sql varchar(max)    
SELECT @roleIds=REPLACE(    
(select str(ur.RoleId)+',' from tbUser u    
join tbUserRole ur on u.Id = ur.UserId where u.Id = @userId  
for xml path('')),' ','')    
--print substring(@roleids,1,len(@roleids)-1)  --打印出用户所拥有的角色id  
set @sql=    
'select m.Id menuid,m.Name menuname,m.ParentId parentid,m.Icon menuicon,mb.ButtonId buttonid,b.Name buttonname,b.Icon buttonicon,rmb.RoleId roleid,  
case      
when isnull(rmb.ButtonId,0) = 0   
then ''false'' else ''true''    
end checked    
from tbMenu m  
left join tbMenuButton mb on m.Id=mb.MenuId  
left join tbButton b on mb.ButtonId=b.Id    
left join tbRoleMenuButton rmb on (mb.MenuId=rmb.MenuId and mb.ButtonId=rmb.ButtonId and rmb.RoleId in ('    
+    
isnull(substring(@roleIds,1,len(@roleIds)-1),0)    
+'))    
order by m.ParentId,m.Sort,b.Sort'  
--print @sql    
exec (@sql)
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckLogin]    Script Date: 03/29/2014 11:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_CheckLogin]  
@ip nvarchar(50),  
@lastErrorLoginTime datetime output  
as          
declare @errorLoginCount int  --错误次数  
select @errorLoginCount = Count(1) from tbLoginLog where Success = 0 and DATEADD(MI,30,LoginDate) > GETDATE() and UserIp = @ip  
if @errorLoginCount >= 5  
begin  
 select top 1 @lastErrorLoginTime = T.LoginDate from (select top 5 LoginDate from tbLoginLog where UserIp = @ip order by LoginDate desc ) T order by LoginDate asc  
end  
else  
begin  
 set @lastErrorLoginTime = null  
end
GO
/****** Object:  Table [dbo].[tbUserRole]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUserRole](
	[UserId] [int] NULL,
	[RoleId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbUserRole] ([UserId], [RoleId]) VALUES (72, 1)
/****** Object:  Table [dbo].[tbUserOperateLog]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbUserOperateLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserIp] [varchar](50) NULL,
	[OperateInfo] [varchar](64) NULL,
	[Description] [varchar](max) NULL,
	[IfSuccess] [bit] NULL,
	[OperateDate] [datetime] NULL,
 CONSTRAINT [PK_tbUserOperateInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbUserOperateLog] ON
INSERT [dbo].[tbUserOperateLog] ([Id], [UserName], [UserIp], [OperateInfo], [Description], [IfSuccess], [OperateDate]) VALUES (1, N'admin', N'::1', N'查询按钮', N'查询条件：1=1 排序：Sort asc 页码/每页大小：1 20', 1, CAST(0x0000A2E100C720FF AS DateTime))
INSERT [dbo].[tbUserOperateLog] ([Id], [UserName], [UserIp], [OperateInfo], [Description], [IfSuccess], [OperateDate]) VALUES (2, N'admin', N'::1', N'查询菜单', N'查询条件：1=1 排序：ParentId asc,Sort asc 页码/每页大小：1 20', 1, CAST(0x0000A2E100C72495 AS DateTime))
INSERT [dbo].[tbUserOperateLog] ([Id], [UserName], [UserIp], [OperateInfo], [Description], [IfSuccess], [OperateDate]) VALUES (3, N'admin', N'::1', N'查询用户', N'查询条件：1=1 排序：AddDate desc 页码/每页大小：1 20', 1, CAST(0x0000A2E100C7263C AS DateTime))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[tbUserOperateLog] OFF
/****** Object:  Table [dbo].[tbUserDepartment]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUserDepartment](
	[UserId] [int] NULL,
	[DepartmentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](50) NULL,
	[UserName] [varchar](50) NULL,
	[UserPwd] [varchar](50) NULL,
	[IsAble] [bit] NULL,
	[IfChangePwd] [bit] NULL,
	[AddDate] [datetime] NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_tbUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbUser] ON
INSERT [dbo].[tbUser] ([Id], [UserId], [UserName], [UserPwd], [IsAble], [IfChangePwd], [AddDate], [Description]) VALUES (72, N'admin', N'管理员', N'855065BBB9780BBEC87AA6930B70AF', 1, 1, CAST(0x0000A2AD00ADD91E AS DateTime), N'管理员账号')
INSERT [dbo].[tbUser] ([Id], [UserId], [UserName], [UserPwd], [IsAble], [IfChangePwd], [AddDate], [Description]) VALUES (78, N'漂泊', N'漂泊', N'202CB962AC59075B964B07152D234B', 1, 1, NULL, N'漂泊')
INSERT [dbo].[tbUser] ([Id], [UserId], [UserName], [UserPwd], [IsAble], [IfChangePwd], [AddDate], [Description]) VALUES (79, N'漂雪儿', N'漂雪儿', N'202CB962AC59075B964B07152D234B', 1, 1, NULL, N'漂雪儿')
SET IDENTITY_INSERT [dbo].[tbUser] OFF
/****** Object:  Table [dbo].[tbRoleMenuButton]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoleMenuButton](
	[RoleId] [int] NULL,
	[MenuId] [int] NULL,
	[ButtonId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbRoleMenuButton] ([RoleId], [MenuId], [ButtonId]) VALUES (1, 3, 1)
INSERT [dbo].[tbRoleMenuButton] ([RoleId], [MenuId], [ButtonId]) VALUES (1, 3, 3)
INSERT [dbo].[tbRoleMenuButton] ([RoleId], [MenuId], [ButtonId]) VALUES (1, 3, 4)
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[tbRole]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
	[Description] [varchar](100) NULL,
	[AddDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_tbRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbRole] ON
INSERT [dbo].[tbRole] ([Id], [RoleName], [Description], [AddDate], [ModifyDate]) VALUES (1, N'超级管理员', N'拥有所有增删改查权限', CAST(0x0000A27301080F41 AS DateTime), CAST(0x0000A29800AAFBF4 AS DateTime))
INSERT [dbo].[tbRole] ([Id], [RoleName], [Description], [AddDate], [ModifyDate]) VALUES (53, N'仓库售后', N'仓库售后', CAST(0x0000A2E100C86879 AS DateTime), CAST(0x0000A2FC0173E0B1 AS DateTime))
INSERT [dbo].[tbRole] ([Id], [RoleName], [Description], [AddDate], [ModifyDate]) VALUES (55, N'客服售前', N'客服售前', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbRole] OFF
/****** Object:  Table [dbo].[tbOrder]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbOrder](
	[type] [tinyint] NOT NULL,
	[shopname] [varchar](128) NOT NULL,
	[in_company] [varchar](64) NOT NULL,
	[in_orderid] [varchar](32) NOT NULL,
	[id] [smallint] NOT NULL,
	[in_color] [varchar](32) NULL,
	[in_size] [varchar](5) NULL,
	[in_num] [smallint] NOT NULL,
	[aliwangwang] [varchar](32) NOT NULL,
	[out_company] [varchar](64) NOT NULL,
	[out_orderid] [varchar](32) NOT NULL,
	[out_id] [smallint] NOT NULL,
	[out_color] [varchar](32) NULL,
	[out_size] [varchar](5) NULL,
	[out_num] [smallint] NOT NULL,
	[remark] [varchar](255) NULL,
	[create_time] [datetime] NOT NULL,
	[update_time] [datetime] NOT NULL,
	[username] [varchar](64) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbOrder] ([type], [shopname], [in_company], [in_orderid], [id], [in_color], [in_size], [in_num], [aliwangwang], [out_company], [out_orderid], [out_id], [out_color], [out_size], [out_num], [remark], [create_time], [update_time], [username]) VALUES (0, N'32', N'23', N'113', 23, N'3', N'2', 2, N'23', N'2', N'22', 2, N'2', N'2', 2, N'吴建明测试', CAST(0x0000A2EF012B6C59 AS DateTime), CAST(0x0000A2EF012B6C59 AS DateTime), N'admin')
INSERT [dbo].[tbOrder] ([type], [shopname], [in_company], [in_orderid], [id], [in_color], [in_size], [in_num], [aliwangwang], [out_company], [out_orderid], [out_id], [out_color], [out_size], [out_num], [remark], [create_time], [update_time], [username]) VALUES (0, N'1', N'132', N'4321', 112, N'232', N'23', 2, N'23', N'23', N'11', 2, N'332', N'23', 11, N'sdf', CAST(0x0000A2EF012E1E2E AS DateTime), CAST(0x0000A2EF012E1E2E AS DateTime), N'admin')
INSERT [dbo].[tbOrder] ([type], [shopname], [in_company], [in_orderid], [id], [in_color], [in_size], [in_num], [aliwangwang], [out_company], [out_orderid], [out_id], [out_color], [out_size], [out_num], [remark], [create_time], [update_time], [username]) VALUES (0, N'1', N'132', N'4321', 113, N'232', N'23', 2, N'23', N'23', N'11', 2, N'332', N'23', 11, N'sdf', CAST(0x0000A2EF00000000 AS DateTime), CAST(0x0000A2EF00000000 AS DateTime), N'admin')
/****** Object:  Table [dbo].[tbMenuButton]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbMenuButton](
	[MenuId] [int] NULL,
	[ButtonId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tbMenuButton] ([MenuId], [ButtonId]) VALUES (3, 1)
INSERT [dbo].[tbMenuButton] ([MenuId], [ButtonId]) VALUES (3, 3)
INSERT [dbo].[tbMenuButton] ([MenuId], [ButtonId]) VALUES (3, 4)
/****** Object:  Table [dbo].[tbMenu]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[ParentId] [int] NULL,
	[Code] [varchar](50) NULL,
	[LinkAddress] [varchar](100) NULL,
	[Icon] [varchar](50) NULL,
	[Sort] [int] NULL,
	[AddDate] [datetime] NULL,
 CONSTRAINT [PK_tbMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbMenu] ON
INSERT [dbo].[tbMenu] ([Id], [Name], [ParentId], [Code], [LinkAddress], [Icon], [Sort], [AddDate]) VALUES (1, N'系统设置', 0, NULL, NULL, N'icon-cog', 1, CAST(0x0000A24000EFB330 AS DateTime))
INSERT [dbo].[tbMenu] ([Id], [Name], [ParentId], [Code], [LinkAddress], [Icon], [Sort], [AddDate]) VALUES (2, N'其他', 0, NULL, NULL, N'icon-tux', 4, CAST(0x0000A24000EFB330 AS DateTime))
INSERT [dbo].[tbMenu] ([Id], [Name], [ParentId], [Code], [LinkAddress], [Icon], [Sort], [AddDate]) VALUES (3, N'菜单管理', 1, N'menu', N'html/ui_menu.html', N'icon-layout', 2, CAST(0x0000A24000EFB330 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbMenu] OFF
/****** Object:  Table [dbo].[tbLoginLog]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbLoginLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserIp] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Success] [bit] NULL,
	[LoginDate] [datetime] NULL,
 CONSTRAINT [PK_tbLoginInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbLoginLog] ON
INSERT [dbo].[tbLoginLog] ([Id], [UserName], [UserIp], [City], [Success], [LoginDate]) VALUES (10, N'admin', N'::1', N'浙江杭州', 1, CAST(0x0000A2E801457856 AS DateTime))
INSERT [dbo].[tbLoginLog] ([Id], [UserName], [UserIp], [City], [Success], [LoginDate]) VALUES (11, N'test', N'::1', N'未知', 1, CAST(0x0000A2E801462D6C AS DateTime))
INSERT [dbo].[tbLoginLog] ([Id], [UserName], [UserIp], [City], [Success], [LoginDate]) VALUES (12, N'admin', N'::1', N'浙江杭州', 1, CAST(0x0000A2E801463D71 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbLoginLog] OFF
/****** Object:  Table [dbo].[tbDepartment]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbDepartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NULL,
	[ParentId] [int] NULL,
	[Sort] [int] NULL,
	[AddDate] [datetime] NULL,
 CONSTRAINT [PK_tbDepartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbDepartment] ON
INSERT [dbo].[tbDepartment] ([Id], [DepartmentName], [ParentId], [Sort], [AddDate]) VALUES (1, N'售前部', 0, 3, CAST(0x0000A25801693D18 AS DateTime))
INSERT [dbo].[tbDepartment] ([Id], [DepartmentName], [ParentId], [Sort], [AddDate]) VALUES (2, N'运营部', 0, 1, CAST(0x0000A258016942B9 AS DateTime))
INSERT [dbo].[tbDepartment] ([Id], [DepartmentName], [ParentId], [Sort], [AddDate]) VALUES (3, N'售后部', 0, 2, CAST(0x0000A25801694C97 AS DateTime))
SET IDENTITY_INSERT [dbo].[tbDepartment] OFF
/****** Object:  Table [dbo].[tbButton]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbButton](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Icon] [varchar](50) NULL,
	[Sort] [int] NULL,
	[AddDate] [datetime] NULL,
	[Description] [varchar](100) NULL,
 CONSTRAINT [PK_tbButton] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbButton] ON
INSERT [dbo].[tbButton] ([Id], [Name], [Code], [Icon], [Sort], [AddDate], [Description]) VALUES (1, N'浏览', N'browser', N'icon-eye', 1, CAST(0x0000A28A00C1ED72 AS DateTime), NULL)
INSERT [dbo].[tbButton] ([Id], [Name], [Code], [Icon], [Sort], [AddDate], [Description]) VALUES (3, N'添加', N'add', N'icon-add', 3, CAST(0x0000A28A00C1ED72 AS DateTime), NULL)
INSERT [dbo].[tbButton] ([Id], [Name], [Code], [Icon], [Sort], [AddDate], [Description]) VALUES (4, N'修改', N'edit', N'icon-application_edit', 4, CAST(0x0000A28A00C1ED72 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tbButton] OFF
/****** Object:  Table [dbo].[tbBug]    Script Date: 03/29/2014 11:19:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbBug](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[UserIp] [varchar](50) NULL,
	[BugInfo] [varchar](max) NULL,
	[BugReply] [varchar](max) NULL,
	[BugDate] [datetime] NULL,
	[IfShow] [bit] NULL,
	[IfSolve] [bit] NULL,
 CONSTRAINT [PK_tbBug] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
