@{
    Layout = "~/Views/Shared/_Index.cshtml"; 
}

<div id="content" class="site-content site_container container clear">
    <div class="row">
        <div class="col-sm-12">
            <div class="middle-box text-center animated fadeInDown">
                <h1>403</h1>
                <h3 class="font-bold">您没有权限访问此资源，请与管理员联系</h3>
                <div class="error-desc">
                    访问资源好像出错了...
                    <br />您可以返回主页看看
                    <br /><a href="index.html" class="btn btn-primary m-t">主页</a>
                </div>
            </div>
        </div>
    </div>
</div>