<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--OA pop3 地址-->
    <add key="OApop3Server" value="mail.stocke.com.cn"/>
    <!--OA pop3 端口-->
    <add key="OApop3ServerPort" value="995"/>
    <!--OA用户名-->
    <add key="OAUsername" value="wujianming"/>
    <!--OA密码-->
    <add key="OAUserPwd" value="enM0NTY4NTIx"/>
     <!--保存压缩路径-->
    <add key="OutPath" value="G:\"/>
    <!-- 发件邮箱主题-->
    <add key="EmailSubject" value="yyyyMMdd浙商证券结算数据"/>
    <!-- 发件人邮箱 -->
    <add key="EmailAddress" value="settlement@citicsf.cn"/>
    <!-- 搜索开始时间 -->
    <add key="StartDateTime" value="settlement@citicsf.cn" />
    <!-- 搜索结束时间 -->
    <add key="EndDateTime" value="settlement@citicsf.cn" />
  </appSettings>
</configuration>