<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.\SQL2008R2;Initial Catalog=JCODE;Persist Security Info=True;User ID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <!--value即是程序集名称，也是命名空间名称-->
    <add key="DataAccess" value="JCodes.Framework.Data.SQLServerDAL"/>
    <add key="website" value="海漂后台管理系统"/>
    <add key="title" value="海漂后台管理系统"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".DottextCookie" loginUrl="~/admin/login.html"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
