.icon-32-1{
	background:url('1.png') no-repeat;
}
.icon-32-10{
	background:url('10.png') no-repeat;
}
.icon-32-10_32x32{
	background:url('10_32x32.png') no-repeat;
}
.icon-32-11{
	background:url('11.png') no-repeat;
}
.icon-32-11_32x32{
	background:url('11_32x32.png') no-repeat;
}
.icon-32-12{
	background:url('12.png') no-repeat;
}
.icon-32-12_32x32{
	background:url('12_32x32.png') no-repeat;
}
.icon-32-13_32x32{
	background:url('13_32x32.png') no-repeat;
}
.icon-32-14_32x32{
	background:url('14_32x32.png') no-repeat;
}
.icon-32-15_32x32{
	background:url('15_32x32.png') no-repeat;
}
.icon-32-16_32x32{
	background:url('16_32x32.png') no-repeat;
}
.icon-32-17_32x32{
	background:url('17_32x32.png') no-repeat;
}
.icon-32-18_32x32{
	background:url('18_32x32.png') no-repeat;
}
.icon-32-19_32x32{
	background:url('19_32x32.png') no-repeat;
}
.icon-32-1_32x32{
	background:url('1_32x32.png') no-repeat;
}
.icon-32-2{
	background:url('2.png') no-repeat;
}
.icon-32-200792816573384{
	background:url('200792816573384.png') no-repeat;
}
.icon-32-200792816573390{
	background:url('200792816573390.png') no-repeat;
}
.icon-32-200792816573468{
	background:url('200792816573468.png') no-repeat;
}
.icon-32-200792816573584{
	background:url('200792816573584.png') no-repeat;
}
.icon-32-200792816573592{
	background:url('200792816573592.png') no-repeat;
}
.icon-32-200792816573823{
	background:url('200792816573823.png') no-repeat;
}
.icon-32-200792816573844{
	background:url('200792816573844.png') no-repeat;
}
.icon-32-2007928165742105{
	background:url('2007928165742105.png') no-repeat;
}
.icon-32-2007928165742129{
	background:url('2007928165742129.png') no-repeat;
}
.icon-32-2007928165742159{
	background:url('2007928165742159.png') no-repeat;
}
.icon-32-2007928165742410{
	background:url('2007928165742410.png') no-repeat;
}
.icon-32-2007928165742880{
	background:url('2007928165742880.png') no-repeat;
}
.icon-32-2007928165742940{
	background:url('2007928165742940.png') no-repeat;
}
.icon-32-2007928165743142{
	background:url('2007928165743142.png') no-repeat;
}
.icon-32-2007928165743239{
	background:url('2007928165743239.png') no-repeat;
}
.icon-32-2007928165743305{
	background:url('2007928165743305.png') no-repeat;
}
.icon-32-2007928165743454{
	background:url('2007928165743454.png') no-repeat;
}
.icon-32-2007928165743551{
	background:url('2007928165743551.png') no-repeat;
}
.icon-32-2007928165743583{
	background:url('2007928165743583.png') no-repeat;
}
.icon-32-2007928165743621{
	background:url('2007928165743621.png') no-repeat;
}
.icon-32-2007928165743629{
	background:url('2007928165743629.png') no-repeat;
}
.icon-32-2007928165743701{
	background:url('2007928165743701.png') no-repeat;
}
.icon-32-2007928165743965{
	background:url('2007928165743965.png') no-repeat;
}
.icon-32-2007928165743971{
	background:url('2007928165743971.png') no-repeat;
}
.icon-32-2007928165744128{
	background:url('2007928165744128.png') no-repeat;
}
.icon-32-2007928165744242{
	background:url('2007928165744242.png') no-repeat;
}
.icon-32-2007928165744297{
	background:url('2007928165744297.png') no-repeat;
}
.icon-32-2007928165744321{
	background:url('2007928165744321.png') no-repeat;
}
.icon-32-2007928165744358{
	background:url('2007928165744358.png') no-repeat;
}
.icon-32-2007928165744394{
	background:url('2007928165744394.png') no-repeat;
}
.icon-32-2007928165744430{
	background:url('2007928165744430.png') no-repeat;
}
.icon-32-2007928165744533{
	background:url('2007928165744533.png') no-repeat;
}
.icon-32-2007928165744539{
	background:url('2007928165744539.png') no-repeat;
}
.icon-32-2007928165744610{
	background:url('2007928165744610.png') no-repeat;
}
.icon-32-2007928165744619{
	background:url('2007928165744619.png') no-repeat;
}
.icon-32-2007928165744648{
	background:url('2007928165744648.png') no-repeat;
}
.icon-32-2007928165744762{
	background:url('2007928165744762.png') no-repeat;
}
.icon-32-2007928165744838{
	background:url('2007928165744838.png') no-repeat;
}
.icon-32-2007928165745102{
	background:url('2007928165745102.png') no-repeat;
}
.icon-32-2007928165745215{
	background:url('2007928165745215.png') no-repeat;
}
.icon-32-2007928165745558{
	background:url('2007928165745558.png') no-repeat;
}
.icon-32-2007928165745638{
	background:url('2007928165745638.png') no-repeat;
}
.icon-32-2007928165745649{
	background:url('2007928165745649.png') no-repeat;
}
.icon-32-2007928165745695{
	background:url('2007928165745695.png') no-repeat;
}
.icon-32-2007928165745744{
	background:url('2007928165745744.png') no-repeat;
}
.icon-32-2007928165745773{
	background:url('2007928165745773.png') no-repeat;
}
.icon-32-2007928165746175{
	background:url('2007928165746175.png') no-repeat;
}
.icon-32-2007928165746253{
	background:url('2007928165746253.png') no-repeat;
}
.icon-32-2007928165746355{
	background:url('2007928165746355.png') no-repeat;
}
.icon-32-2007928165746520{
	background:url('2007928165746520.png') no-repeat;
}
.icon-32-2007928165746760{
	background:url('2007928165746760.png') no-repeat;
}
.icon-32-2007928165746807{
	background:url('2007928165746807.png') no-repeat;
}
.icon-32-200792816574744{
	background:url('200792816574744.png') no-repeat;
}
.icon-32-20_32x32{
	background:url('20_32x32.png') no-repeat;
}
.icon-32-21_32x32{
	background:url('21_32x32.png') no-repeat;
}
.icon-32-22_32x32{
	background:url('22_32x32.png') no-repeat;
}
.icon-32-23_32x32{
	background:url('23_32x32.png') no-repeat;
}
.icon-32-24_32x32{
	background:url('24_32x32.png') no-repeat;
}
.icon-32-25_32x32{
	background:url('25_32x32.png') no-repeat;
}
.icon-32-26_32x32{
	background:url('26_32x32.png') no-repeat;
}
.icon-32-27_32x32{
	background:url('27_32x32.png') no-repeat;
}
.icon-32-28_32x32{
	background:url('28_32x32.png') no-repeat;
}
.icon-32-29_32x32{
	background:url('29_32x32.png') no-repeat;
}
.icon-32-2_32x32{
	background:url('2_32x32.png') no-repeat;
}
.icon-32-3{
	background:url('3.png') no-repeat;
}
.icon-32-30_32x32{
	background:url('30_32x32.png') no-repeat;
}
.icon-32-31_32x32{
	background:url('31_32x32.png') no-repeat;
}
.icon-32-32-10{
	background:url('32 (10).png') no-repeat;
}
.icon-32-32-11{
	background:url('32 (11).png') no-repeat;
}
.icon-32-32-12{
	background:url('32 (12).png') no-repeat;
}
.icon-32-32-13{
	background:url('32 (13).png') no-repeat;
}
.icon-32-32-14{
	background:url('32 (14).png') no-repeat;
}
.icon-32-32-15{
	background:url('32 (15).png') no-repeat;
}
.icon-32-32-16{
	background:url('32 (16).png') no-repeat;
}
.icon-32-32-17{
	background:url('32 (17).png') no-repeat;
}
.icon-32-32-18{
	background:url('32 (18).png') no-repeat;
}
.icon-32-32-19{
	background:url('32 (19).png') no-repeat;
}
.icon-32-32-2{
	background:url('32 (2).png') no-repeat;
}
.icon-32-32-20{
	background:url('32 (20).png') no-repeat;
}
.icon-32-32-21{
	background:url('32 (21).png') no-repeat;
}
.icon-32-32-22{
	background:url('32 (22).png') no-repeat;
}
.icon-32-32-23{
	background:url('32 (23).png') no-repeat;
}
.icon-32-32-24{
	background:url('32 (24).png') no-repeat;
}
.icon-32-32-25{
	background:url('32 (25).png') no-repeat;
}
.icon-32-32-26{
	background:url('32 (26).png') no-repeat;
}
.icon-32-32-27{
	background:url('32 (27).png') no-repeat;
}
.icon-32-32-28{
	background:url('32 (28).png') no-repeat;
}
.icon-32-32-29{
	background:url('32 (29).png') no-repeat;
}
.icon-32-32-3{
	background:url('32 (3).png') no-repeat;
}
.icon-32-32-30{
	background:url('32 (30).png') no-repeat;
}
.icon-32-32-31{
	background:url('32 (31).png') no-repeat;
}
.icon-32-32-32{
	background:url('32 (32).png') no-repeat;
}
.icon-32-32-33{
	background:url('32 (33).png') no-repeat;
}
.icon-32-32-34{
	background:url('32 (34).png') no-repeat;
}
.icon-32-32-35{
	background:url('32 (35).png') no-repeat;
}
.icon-32-32-36{
	background:url('32 (36).png') no-repeat;
}
.icon-32-32-37{
	background:url('32 (37).png') no-repeat;
}
.icon-32-32-38{
	background:url('32 (38).png') no-repeat;
}
.icon-32-32-39{
	background:url('32 (39).png') no-repeat;
}
.icon-32-32-4{
	background:url('32 (4).png') no-repeat;
}
.icon-32-32-40{
	background:url('32 (40).png') no-repeat;
}
.icon-32-32-41{
	background:url('32 (41).png') no-repeat;
}
.icon-32-32-42{
	background:url('32 (42).png') no-repeat;
}
.icon-32-32-43{
	background:url('32 (43).png') no-repeat;
}
.icon-32-32-44{
	background:url('32 (44).png') no-repeat;
}
.icon-32-32-45{
	background:url('32 (45).png') no-repeat;
}
.icon-32-32-46{
	background:url('32 (46).png') no-repeat;
}
.icon-32-32-47{
	background:url('32 (47).png') no-repeat;
}
.icon-32-32-48{
	background:url('32 (48).png') no-repeat;
}
.icon-32-32-49{
	background:url('32 (49).png') no-repeat;
}
.icon-32-32-5{
	background:url('32 (5).png') no-repeat;
}
.icon-32-32-50{
	background:url('32 (50).png') no-repeat;
}
.icon-32-32-6{
	background:url('32 (6).png') no-repeat;
}
.icon-32-32-7{
	background:url('32 (7).png') no-repeat;
}
.icon-32-32-8{
	background:url('32 (8).png') no-repeat;
}
.icon-32-32-9{
	background:url('32 (9).png') no-repeat;
}
.icon-32-32{
	background:url('32.png') no-repeat;
}
.icon-32-3_32x32{
	background:url('3_32x32.png') no-repeat;
}
.icon-32-4{
	background:url('4.png') no-repeat;
}
.icon-32-4_32x32{
	background:url('4_32x32.png') no-repeat;
}
.icon-32-5{
	background:url('5.png') no-repeat;
}
.icon-32-5_32x32{
	background:url('5_32x32.png') no-repeat;
}
.icon-32-6{
	background:url('6.png') no-repeat;
}
.icon-32-6_32x32{
	background:url('6_32x32.png') no-repeat;
}
.icon-32-7{
	background:url('7.png') no-repeat;
}
.icon-32-7_32x32{
	background:url('7_32x32.png') no-repeat;
}
.icon-32-8{
	background:url('8.png') no-repeat;
}
.icon-32-8ball{
	background:url('8ball.png') no-repeat;
}
.icon-32-8_32x32{
	background:url('8_32x32.png') no-repeat;
}
.icon-32-9{
	background:url('9.png') no-repeat;
}
.icon-32-9_32x32{
	background:url('9_32x32.png') no-repeat;
}
.icon-32-accept{
	background:url('accept.png') no-repeat;
}
.icon-32-accept32{
	background:url('accept32.png') no-repeat;
}
.icon-32-account32{
	background:url('account32.png') no-repeat;
}
.icon-32-activity_window_32{
	background:url('activity_window_32.png') no-repeat;
}
.icon-32-Add-2{
	background:url('Add (2).png') no-repeat;
}
.icon-32-Add-3{
	background:url('Add (3).png') no-repeat;
}
.icon-32-add-4{
	background:url('add (4).png') no-repeat;
}
.icon-32-AddAppointment{
	background:url('Add Appointment.png') no-repeat;
}
.icon-32-AddGreenButton{
	background:url('Add Green Button.png') no-repeat;
}
.icon-32-AddToFavorite{
	background:url('Add To Favorite.png') no-repeat;
}
.icon-32-add-32{
	background:url('add-32.png') no-repeat;
}
.icon-32-add-event32{
	background:url('add-event32.png') no-repeat;
}
.icon-32-Add{
	background:url('Add.png') no-repeat;
}
.icon-32-add1-32{
	background:url('add1-32.png') no-repeat;
}
.icon-32-add2-32{
	background:url('add2-32.png') no-repeat;
}
.icon-32-add32{
	background:url('add32.png') no-repeat;
}
.icon-32-addfile32{
	background:url('addfile32.png') no-repeat;
}
.icon-32-address{
	background:url('address.png') no-repeat;
}
.icon-32-addressbook32{
	background:url('addressbook32.png') no-repeat;
}
.icon-32-address_32{
	background:url('address_32.png') no-repeat;
}
.icon-32-Address_Book{
	background:url('Address_Book.png') no-repeat;
}
.icon-32-adduser32{
	background:url('adduser32.png') no-repeat;
}
.icon-32-Add_Symbol{
	background:url('Add_Symbol.png') no-repeat;
}
.icon-32-administrative-docs{
	background:url('administrative-docs.png') no-repeat;
}
.icon-32-administrator{
	background:url('administrator.png') no-repeat;
}
.icon-32-adressbook-32{
	background:url('adressbook-32.png') no-repeat;
}
.icon-32-advertising{
	background:url('advertising.png') no-repeat;
}
.icon-32-advertisment-32{
	background:url('advertisment-32.png') no-repeat;
}
.icon-32-ahmadhanialogo{
	background:url('ahmad hania logo.png') no-repeat;
}
.icon-32-aim_32{
	background:url('aim_32.png') no-repeat;
}
.icon-32-airplane{
	background:url('airplane.png') no-repeat;
}
.icon-32-Airport{
	background:url('Airport.png') no-repeat;
}
.icon-32-alarm{
	background:url('alarm.png') no-repeat;
}
.icon-32-alarm32{
	background:url('alarm32.png') no-repeat;
}
.icon-32-alarm_clock_32x32{
	background:url('alarm_clock_32x32.png') no-repeat;
}
.icon-32-alert-2{
	background:url('alert (2).png') no-repeat;
}
.icon-32-alert-3{
	background:url('alert (3).png') no-repeat;
}
.icon-32-Alert{
	background:url('Alert.png') no-repeat;
}
.icon-32-alert32{
	background:url('alert32.png') no-repeat;
}
.icon-32-alien_32{
	background:url('alien_32.png') no-repeat;
}
.icon-32-alien_egg_32{
	background:url('alien_egg_32.png') no-repeat;
}
.icon-32-alignbottom{
	background:url('align bottom.png') no-repeat;
}
.icon-32-alignhorcenter{
	background:url('align hor center.png') no-repeat;
}
.icon-32-alignleft{
	background:url('align left.png') no-repeat;
}
.icon-32-alignright{
	background:url('align right.png') no-repeat;
}
.icon-32-aligntop{
	background:url('align top.png') no-repeat;
}
.icon-32-alignvercenter{
	background:url('align ver center.png') no-repeat;
}
.icon-32-amazon{
	background:url('amazon.png') no-repeat;
}
.icon-32-Ambulance{
	background:url('Ambulance.png') no-repeat;
}
.icon-32-anchor{
	background:url('anchor.png') no-repeat;
}
.icon-32-android_platform{
	background:url('android_platform.png') no-repeat;
}
.icon-32-angel32{
	background:url('angel32.png') no-repeat;
}
.icon-32-angel_32x32{
	background:url('angel_32x32.png') no-repeat;
}
.icon-32-Announcement{
	background:url('Announcement.png') no-repeat;
}
.icon-32-antivirus{
	background:url('anti virus.png') no-repeat;
}
.icon-32-anykey_answer{
	background:url('anykey_answer.png') no-repeat;
}
.icon-32-aol{
	background:url('aol.png') no-repeat;
}
.icon-32-aol32{
	background:url('aol32.png') no-repeat;
}
.icon-32-app-store{
	background:url('app-store.png') no-repeat;
}
.icon-32-app{
	background:url('app.png') no-repeat;
}
.icon-32-app32{
	background:url('app32.png') no-repeat;
}
.icon-32-apple-green{
	background:url('apple-green.png') no-repeat;
}
.icon-32-apple-red{
	background:url('apple-red.png') no-repeat;
}
.icon-32-apple{
	background:url('apple.png') no-repeat;
}
.icon-32-apple32{
	background:url('apple32.png') no-repeat;
}
.icon-32-apple_32{
	background:url('apple_32.png') no-repeat;
}
.icon-32-application{
	background:url('application.png') no-repeat;
}
.icon-32-application32{
	background:url('application32.png') no-repeat;
}
.icon-32-applications-32{
	background:url('applications-32.png') no-repeat;
}
.icon-32-application_add{
	background:url('application_add.png') no-repeat;
}
.icon-32-Application_Blueprint{
	background:url('Application_Blueprint.png') no-repeat;
}
.icon-32-application_cascade{
	background:url('application_cascade.png') no-repeat;
}
.icon-32-application_delete{
	background:url('application_delete.png') no-repeat;
}
.icon-32-Application_Design{
	background:url('Application_Design.png') no-repeat;
}
.icon-32-application_double{
	background:url('application_double.png') no-repeat;
}
.icon-32-application_edit{
	background:url('application_edit.png') no-repeat;
}
.icon-32-application_error{
	background:url('application_error.png') no-repeat;
}
.icon-32-application_form{
	background:url('application_form.png') no-repeat;
}
.icon-32-application_form_add{
	background:url('application_form_add.png') no-repeat;
}
.icon-32-application_form_delete{
	background:url('application_form_delete.png') no-repeat;
}
.icon-32-application_form_edit{
	background:url('application_form_edit.png') no-repeat;
}
.icon-32-application_form_magnify{
	background:url('application_form_magnify.png') no-repeat;
}
.icon-32-application_get{
	background:url('application_get.png') no-repeat;
}
.icon-32-application_go{
	background:url('application_go.png') no-repeat;
}
.icon-32-application_home{
	background:url('application_home.png') no-repeat;
}
.icon-32-application_key{
	background:url('application_key.png') no-repeat;
}
.icon-32-application_lightning{
	background:url('application_lightning.png') no-repeat;
}
.icon-32-application_link{
	background:url('application_link.png') no-repeat;
}
.icon-32-application_osx{
	background:url('application_osx.png') no-repeat;
}
.icon-32-application_osx_terminal{
	background:url('application_osx_terminal.png') no-repeat;
}
.icon-32-application_put{
	background:url('application_put.png') no-repeat;
}
.icon-32-application_side_boxes{
	background:url('application_side_boxes.png') no-repeat;
}
.icon-32-application_side_contract{
	background:url('application_side_contract.png') no-repeat;
}
.icon-32-application_side_expand{
	background:url('application_side_expand.png') no-repeat;
}
.icon-32-application_side_list{
	background:url('application_side_list.png') no-repeat;
}
.icon-32-application_side_tree{
	background:url('application_side_tree.png') no-repeat;
}
.icon-32-application_split{
	background:url('application_split.png') no-repeat;
}
.icon-32-application_tile_horizontal{
	background:url('application_tile_horizontal.png') no-repeat;
}
.icon-32-application_tile_vertical{
	background:url('application_tile_vertical.png') no-repeat;
}
.icon-32-application_view_columns{
	background:url('application_view_columns.png') no-repeat;
}
.icon-32-application_view_detail{
	background:url('application_view_detail.png') no-repeat;
}
.icon-32-application_view_gallery{
	background:url('application_view_gallery.png') no-repeat;
}
.icon-32-application_view_icons{
	background:url('application_view_icons.png') no-repeat;
}
.icon-32-application_view_list{
	background:url('application_view_list.png') no-repeat;
}
.icon-32-application_view_tile{
	background:url('application_view_tile.png') no-repeat;
}
.icon-32-application_xp{
	background:url('application_xp.png') no-repeat;
}
.icon-32-application_xp_terminal{
	background:url('application_xp_terminal.png') no-repeat;
}
.icon-32-AppointmentCool{
	background:url('Appointment Cool.png') no-repeat;
}
.icon-32-AppointmentUrgent{
	background:url('Appointment Urgent.png') no-repeat;
}
.icon-32-Apps{
	background:url('Apps.png') no-repeat;
}
.icon-32-archive-32{
	background:url('archive-32.png') no-repeat;
}
.icon-32-Archive{
	background:url('Archive.png') no-repeat;
}
.icon-32-archives{
	background:url('archives.png') no-repeat;
}
.icon-32-ArrowDown{
	background:url('Arrow Down.png') no-repeat;
}
.icon-32-ArrowLeft{
	background:url('Arrow Left.png') no-repeat;
}
.icon-32-ArrowRight{
	background:url('Arrow Right.png') no-repeat;
}
.icon-32-ArrowUp{
	background:url('Arrow Up.png') no-repeat;
}
.icon-32-arrow_branch{
	background:url('arrow_branch.png') no-repeat;
}
.icon-32-arrow_divide{
	background:url('arrow_divide.png') no-repeat;
}
.icon-32-arrow_down{
	background:url('arrow_down.png') no-repeat;
}
.icon-32-arrow_in{
	background:url('arrow_in.png') no-repeat;
}
.icon-32-arrow_inout{
	background:url('arrow_inout.png') no-repeat;
}
.icon-32-arrow_join{
	background:url('arrow_join.png') no-repeat;
}
.icon-32-arrow_left{
	background:url('arrow_left.png') no-repeat;
}
.icon-32-arrow_merge{
	background:url('arrow_merge.png') no-repeat;
}
.icon-32-arrow_out{
	background:url('arrow_out.png') no-repeat;
}
.icon-32-arrow_redo{
	background:url('arrow_redo.png') no-repeat;
}
.icon-32-arrow_refresh{
	background:url('arrow_refresh.png') no-repeat;
}
.icon-32-arrow_refresh_small{
	background:url('arrow_refresh_small.png') no-repeat;
}
.icon-32-arrow_right{
	background:url('arrow_right.png') no-repeat;
}
.icon-32-arrow_rotate_anticlockwise{
	background:url('arrow_rotate_anticlockwise.png') no-repeat;
}
.icon-32-arrow_rotate_clockwise{
	background:url('arrow_rotate_clockwise.png') no-repeat;
}
.icon-32-arrow_switch{
	background:url('arrow_switch.png') no-repeat;
}
.icon-32-arrow_turn_left{
	background:url('arrow_turn_left.png') no-repeat;
}
.icon-32-arrow_turn_right{
	background:url('arrow_turn_right.png') no-repeat;
}
.icon-32-arrow_undo{
	background:url('arrow_undo.png') no-repeat;
}
.icon-32-arrow_up{
	background:url('arrow_up.png') no-repeat;
}
 