@{
    Layout = "~/Views/Shared/_Index.cshtml"; 
    ViewBag.Title = "免责声明";
}
<link href="~/Content/MyPlugins/datapicker/datepicker3.css" rel="stylesheet">
<style type="text/css">
    #diffdays {padding: 0px; height: 40px;}

</style>

<div id="content" class="site-content site_container container clear">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>免责声明</h1>
                <p>1.鉴于网络服务的特殊性，用户同意百度网盘开放平台有权随时变更、中断或终止部分或全部的网络服务。如变更、中断或终止的网络服务属于免费网络服务，百度无需通知用户，也无需对任何用户或任何第三方承担任何责任。</p>
                <p>2.用户理解，百度网盘开放平台需要定期或不定期地对提供网络服务的平台或相关的设备进行检修或者维护，如因此类情况而造成收费网络服务在合理时间内的中断，百度无需为此承担任何责任，但百度应尽可能事先进行通告。</p>
                <ol>
                    <li>创建一个带有 class .jumbotron. 的容器</li>
                    <li>除了更大的 &lt;h1&gt;，字体粗细 font-weight 被减为 200px。</li>
                </ol>
            </div>
        </div>
    </div>
</div>
