@{
    Layout = "~/Views/Shared/_Index.cshtml";
    ViewBag.SubTitle = "jCodes网站首页";
}

<div id="content" class="site-content site_container container clear">
    <div id="primary" class="content-area clear col-xs-8 form-control-static">
        <div id="featured-slider" class="slider-with-grid ">
            <ul class="bxslider">
                <li class="featured-slide hentry">
                    <a class="thumbnail-link" href="825.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/Tang-Wei-600x350.png" class="attachment-iux_featured_large_thumb2 size-iux_featured_large_thumb2 wp-post-image" alt="" />
                        </div>
                    </a>
                    <div class="entry-header clear">
                        <h2 class="entry-title"><a target="_blank" href="825.html">百度地图宣布汤唯正式签约代言人</a></h2>
                    </div>
                    <div class="gradient"></div>
                </li>
                <li class="featured-slide hentry">
                    <a class="thumbnail-link" href="836.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/WeChat_logo_wordmark-600x350.png" class="attachment-iux_featured_large_thumb2 size-iux_featured_large_thumb2 wp-post-image" alt="" />
                        </div>
                    </a>
                    <div class="entry-header clear">
                        <h2 class="entry-title"><a target="_blank" href="836.html">从微信7.0看张小龙思想的嬗变</a></h2>
                    </div>
                    <div class="gradient"></div>
                </li>
                <li class="featured-slide hentry">
                    <a class="thumbnail-link" href="832.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/bc-600x350.png" class="attachment-iux_featured_large_thumb2 size-iux_featured_large_thumb2 wp-post-image" alt="" />
                        </div>
                    </a>
                    <div class="entry-header clear">
                        <h2 class="entry-title"><a target="_blank" href="832.html">比特币大幅缩水 区块链未来如何发展</a></h2>
                    </div>
                    <div class="gradient"></div>
                </li>
            </ul>
            <div class="ribbon">
                <span>编辑推荐</span>
            </div>
        </div>
        <div id="featured-grid">
            <ul class="clear">
                <li class="featured-post hentry">
                    <a target="_blank" class="thumbnail-link" href="820.html">
                        <div class="thumbnail-wrap">
                            <img width="380" height="220" src="~/UploadFiles/Photo/ofo-380x220.jpg" class="attachment-iux_featured_small_thumb2 size-iux_featured_small_thumb2 wp-post-image" alt="" />
                        </div>
                    </a>
                    <div class="entry-header">
                        <h2 class="entry-title"><a target="_blank" href="820.html">这是一条自定义文章标题</a></h2>
                    </div>
                    <div class="gradient"></div>
                </li>
                <li class="featured-post hentry">
                    <a target="_blank" class="thumbnail-link" href="815.html">
                        <div class="thumbnail-wrap">
                            <img width="380" height="220" src="~/UploadFiles/Photo/f3-380x220.jpg" class="attachment-iux_featured_small_thumb2 size-iux_featured_small_thumb2 wp-post-image" alt="" />
                        </div>
                    </a>
                    <div class="entry-header">
                        <h2 class="entry-title"><a target="_blank" href="815.html">微软纳德拉获最佳CEO称号</a></h2>
                    </div>
                    <div class="gradient"></div>
                </li>
                <li class="featured-post hentry">
                    <a target="_blank" class="thumbnail-link" href="843.html">
                        <div class="thumbnail-wrap">
                            <img width="380" height="220" src="~/UploadFiles/Photo/wp-bg-380x220.png" class="attachment-iux_featured_small_thumb2 size-iux_featured_small_thumb2 wp-post-image" alt="" />
                        </div>
                    </a>
                    <div class="entry-header">
                        <h2 class="entry-title"><a target="_blank" href="843.html">使用WordPress建站的好处</a></h2>
                    </div>
                    <div class="gradient"></div>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="home-zhuanti-section">
            <div class="zhuanti-heading clear">
                <div class="custom-wrap clear">
                    <h2>专题列表</h2>
                    <div class="desc">
                        自定义文字描述
                    </div>
                    <div class="section-more">
                        <a target="_blank" href="zhuanti.html">查看所有专题 <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="home-zhuanti-list clear">
                <div class="zhuanti-list-item ht_custom_grid_1_4">
                    <a target="_blank" class="thumbnail-link" href="sports.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/thumb-httpswww.zhutibaba.comwp-c.jpg" alt="体育" />
                        </div>
                    </a>
                    <h3 class="zhuanti-title"><a target="_blank" href="sports.html">体育</a></h3>
                </div>
                <div class="zhuanti-list-item ht_custom_grid_1_4">
                    <a target="_blank" class="thumbnail-link" href="house.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/thumb-httpswww.zhutibaba.comwp-c1.jpg" alt="房产" />
                        </div>
                    </a>
                    <h3 class="zhuanti-title"><a target="_blank" href="house.html">房产</a></h3>
                </div>
                <div class="zhuanti-list-item ht_custom_grid_1_4">
                    <a target="_blank" class="thumbnail-link" href="edu.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/thumb-httpswww.zhutibaba.comwp-c2.jpg" alt="教育" />
                        </div>
                    </a>
                    <h3 class="zhuanti-title"><a target="_blank" href="edu.html">教育</a></h3>
                </div>
                <div class="zhuanti-list-item ht_custom_grid_1_4">
                    <a target="_blank" class="thumbnail-link" href="travel.html">
                        <div class="thumbnail-wrap">
                            <img src="~/UploadFiles/Photo/thumb-httpswww.zhutibaba.comwp-c3.jpg" alt="旅游" />
                        </div>
                    </a>
                    <h3 class="zhuanti-title"><a target="_blank" href="travel.html">旅游</a></h3>
                </div>
            </div>
        </div>
        <main id="main" class="site-main clear">
            <div class="recent-heading">
                <h2 class="section-title"> <span class="title">最新文章</span></h2>
                <div class="posts-nav-menu">
                    <div class="menu-posts-container">
                        <ul id="posts-menu" class="posts-menu">
                            <li id="menu-item-781" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-781"><a href="zhuanti-full.html">全宽专题</a></li>
                            <li id="menu-item-777" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-777"><a target="_blank" rel="noopener noreferrer" href="iux.html">直达链接</a></li>
                            <li id="menu-item-778" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-778"><a target="_blank" rel="noopener noreferrer" href="themes.html">购买主题</a></li>
                            <li id="menu-item-779" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-779"><a target="_blank" rel="noopener noreferrer" href="posts-by-cat.html">按目录分类</a></li>
                            <li id="menu-item-780" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-780"><a target="_blank" rel="noopener noreferrer" href="posts-100.html">最新100篇</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="recent-content" class="content-list">
                <div class="posts-loop clear">
                    <div id="post-582" class="clear post-582 post type-post status-publish format-standard has-post-thumbnail hentry category-tech tag-25 tag-26 tag-27">
                        <a target="_blank" class="thumbnail-link" href="582.html">
                            <div class="thumbnail-wrap">
                                <img width="300" height="193" src="~/UploadFiles/Photo/iphone9-300x193.jpg" class="attachment-iux_list_thumb size-iux_list_thumb wp-post-image" alt="" />
                            </div>
                        </a>
                        <header class="entry-header">
                            <span class="entry-category"> <a target="_blank" href="tech.html">科技</a> </span>
                            <h2 class="entry-title"><a target="_blank" href="582.html">苹果新品iPhone 9即将发布 颜值和配置有惊喜</a></h2>
                        </header>
                        <div class="entry-overview 	">
                            <div class="entry-meta">
                                <span class="entry-date"> 2018-11-13 </span>
                                <span class="entry-like"> <span class="sl-wrapper"><a href="582.html" class="sl-button sl-button-582 liked" data-nonce="e0978d5c05" data-post-id="582" data-iscomment="0" title="取消点赞"><span class="sl-count"><i class="fa fa-thumbs-o-up"></i> 211<em>赞</em></span></a><span class="sl-loader"></span></span> </span>
                                <span class="entry-views"><a href="582.html"><i class="flaticon-eye"></i> 3,988<em>阅读</em></a></span>
                                <span class="entry-comment"><a href="582.html#comments" class="comments-link"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i> 3<em>评论</em></a></span>
                            </div>
                            <div class="entry-summary">
                                <p>来自外媒的报道称，即将上市的iPhone 9在外观和颜值上都做出了巨大的变革，再加上更合理的价格，果粉圈迅速沸腾了。</p>
                            </div>
                        </div>
                    </div>
                    <div id="happythemes-ad-3" class="content-ad widget_ad ad-widget">
                        <div class="adwidget">
                            <a href="iux.html" target="_blank"><img src="~/UploadFiles/Photo/content-ad.png" alt="广告位" /></a>
                        </div>
                        <h3 class="widget-title">广告</h3>
                    </div>
                </div>
            </div>
        </main>
        <nav class="navigation pagination col-xs-12 text-center" role="navigation" aria-label="文章">
            <h2 class="screen-reader-text">文章导航</h2>
            <div class="nav-links  ">
                <span aria-current="page" class="page-numbers current">1</span>
                <a class="page-numbers" href="2.html">2</a>
                <span class="page-numbers dots">…</span>
                <a class="page-numbers" href="6.html">6</a>
                <a class="next page-numbers" href="2.html">下一页</a>
            </div>
        </nav>
    </div>
    <aside id="secondary" class="widget-area sidebar col-xs-4">
        <div class="sidebar__inner">
            <div id="iux-custom-text-2" class="widget widget_custom_text custom-text-widget">
                <a class="widget-link" href="index1.html" target="_blank">
                    <h2 class="widget-title">本站推荐</h2><h4>爱前端: 大师级WP主题</h4>
                    <div class="custom-text">
                        一款由主题巴巴原创开发的WordPress主题，适合用于各类博客、自媒体网站或个人站点。购买主题后，您将享受永久主题更新升级和终身技术支持服务。
                    </div>
                </a>
            </div>
            <div id="iux-views-2" class="widget widget-iux-views widget_posts_thumbnail">
                <h2 class="widget-title">热门文章</h2>
                <ul>
                    <li class="clear">
                        <a href="582.html" rel="bookmark">
                            <div class="thumbnail-wrap">
                                <img width="150" height="90" src="~/UploadFiles/Photo/iphone9-150x90.jpg" class="attachment-iux_widget_thumb size-iux_widget_thumb wp-post-image" alt="" />
                            </div>
                        </a>
                        <div class="entry-wrap">
                            <a href="582.html" rel="bookmark">苹果新品iPhone 9即将发布 颜值和配置有惊喜</a>
                            <div class="entry-meta">
                                2018-11-13
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="media_gallery-2" class="widget widget_media_gallery">
                <h2 class="widget-title">今日美图</h2>
                <ul class="gallery-slider">
                    <li><img src="~/UploadFiles/Photo/sticky6-780x460.jpeg" alt="" /></li>
                    <li><img src="~/UploadFiles/Photo/sticky4-780x460.jpeg" alt="" /></li>
                    <li><img src="~/UploadFiles/Photo/featured1-780x460.jpeg" alt="" /></li>
                </ul>
            </div>
            <div id="tag_cloud-2" class="widget widget_tag_cloud">
                <h2 class="widget-title">热门标签</h2>
                <div class="tagcloud">
                    <a href="c罗.html" class="tag-cloud-link tag-link-11 tag-link-position-1" style="font-size: 8pt;" aria-label="C罗 (1个项目)">C罗<span class="tag-link-count"> (1)</span></a>
                    <a href="es8.html" class="tag-cloud-link tag-link-12 tag-link-position-2" style="font-size: 8pt;" aria-label="ES8 (1个项目)">ES8<span class="tag-link-count"> (1)</span></a>
                </div>
            </div>
        </div>
    </aside>
</div>

<div class="site-footer clear">

    <div class="container">
        <div class="footer-partners clear">
            <div class="partner-title clear">
                <strong>友情连接</strong>
                <!--span class="partner-desc"></span>
            <span class="partner-link"> <a href="contact.html" target="_blank"> 联系我们 <i class="fa fa-angle-right"></i> </a> </span-->
            </div>
            <div class="partner-wrap">
                <div id="media_image-4" class="partner-image widget_media_image">
                    <img width="200" height="50" src="~/UploadFiles/Photo/toutiao.png" class="image wp-image-649  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" />
                </div>
            </div>
        </div>
            
    </div>
    <!--div class="bottom-content">
             <div class="container">
              <h3>jCodes 个人网站</h3>
              <div class="bottom-buttons">
               <a target="_blank" href="iux.html">购买主题</a>
               <a target="_blank" href="vip.html">加入会员</a>
              </div>
             </div>
    </div-->

</div>

