<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>投票情况</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/Content/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/Content/Index/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/Content/MyPlugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/Content/MyPlugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/Content/MyPlugins/chosen/chosen.css" rel="stylesheet">
    <link href="/Content/Index/css/animate.min.css" rel="stylesheet">
    <link href="/Content/Index/css/style.min.css?v=4.0.0" rel="stylesheet">
    <base target="_blank">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="notice_active">
            <ul id="jsfoot01" class="noticTipTxt">
                <li><a href="####" target="_blank">制定《停车收费管理办法》和《小区物业服务合同》</a></li>
                <li><a href="####" target="_blank">建设美好家园</a></li>
                <li><a href="####" target="_blank">钱塘东南家园小区物业续聘、选聘投票开始啦，</a></li>
                <li><a href="####" target="_blank">积极参与投票，共建幸福家园</a></li>
            </ul>
        </div>

        <!-- Panel Other -->
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <!-- Example Events -->
                        <div class="example-wrap">
                            <div class="example">
                                <table id="ArbetTable"></table>
                            </div>
                        </div>
                        <!-- End Example Events -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>

    <div class="footer">
        <div class="pull-right">
            &copy; 2006-2020 <a href="http://www.jcodes.cn/" target="_blank">Editor by Jimmy</a>
        </div>
    </div>

    <script src="/Content/Index/js/jquery-1.12.4-wp.js"></script>
    <script src="/Content/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="/Content/Index/js/content.min.js?v=1.0.1"></script>
    <script src="/Content/MyPlugins/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/Content/MyPlugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="/Content/MyPlugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="/Content/MyPlugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="/Content/MyPlugins/chosen/chosen.jquery.js"></script>
    <script src="/Content/MyPlugins/suggest/bootstrap-suggest.min.js"></script>
  
    <script type="text/javascript">
        (function ($) { //create closure so we can safely use $ as alias for jQuery
            $(document).ready(function () {
                //1.初始化Table
                var oTable = new TableInit();
                oTable.Init();

                // 添加样式 .bootstrap-table add position:relative, top:-50px;
                $(".bootstrap-table").css('position', 'relative').css('top', '-50px');
            });

            var TableInit = function () {
                var oTableInit = new Object();
                //初始化Table
                oTableInit.Init = function () {
                    var louzhuang = getQueryVariable("louzhuang");
                    $('#ArbetTable').bootstrapTable({
                        url: '/Interface/GetAjaxDongnanhai2_detail?louzhuang=' + louzhuang,         //请求后台的URL（*）
                        method: 'get',                      //请求方式（*）
                        toolbar: '#toolbar',                //工具按钮用哪个容器
                        striped: true,                      //是否显示行间隔色
                        cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        pagination: true,                   //是否显示分页（*）
                        sortable: false,                     //是否启用排序
                        sortOrder: "asc",                   //排序方式
                        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                        pageNumber: 1,                       //初始化加载第一页，默认第一页
                        pageSize: 220,                       //每页的记录行数（*）
                        pageList: [220],        //可供选择的每页的行数（*）
                        contentType: "application/x-www-form-urlencoded",
                        showColumns: true,                  //是否显示所有的列
                        showRefresh: true,                  //是否显示刷新按钮
                        minimumCountColumns: 2,             //最少允许的列数
                        clickToSelect: true,                //是否启用点击选中行
                        uniqueId: "no",                     //每一行的唯一标识，一般为主键列
                        cardView: false,                    //是否显示详细视图
                        detailView: false,                   //是否显示父子表
                        columns: [
                        { field: 'houseNum', title: '房号' },
                        { field: 'toupiao', title: '投票情况' },
                        ],
                        rowStyle: function (row, index) {
                            style = "";
                            if (index % 2 === 0) {//偶数行
                                style = { css: { 'background': '#fafafa' } };
                            } else {//奇数行
                                style = { css: { 'background': '#efefef' } };
                            }

                            if (row.percentage < 50) {
                                style = { css: { 'color': 'red' } };
                            }
                            return style;
                        },//隔行变色
                    });

                };
                return oTableInit;
            };


        })(jQuery);

        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
    </script>

    <script type="text/javascript" src="https://www.17sucai.com/preview/11/2013-04-30/scrolltext/js/scrolltext.js"></script>
    <script type="text/javascript">
        if (document.getElementById("jsfoot01")) {
            var scrollup = new ScrollText("jsfoot01");
            scrollup.LineHeight = 22;        //单排文字滚动的高度
            scrollup.Amount = 1;            //注意:子模块(LineHeight)一定要能整除Amount.
            scrollup.Delay = 20;           //延时
            scrollup.Start();             //文字自动滚动
            scrollup.Direction = "down"; //文字向下滚动
        }

    </script>

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        a, img {
            border: 0;
            vertical-align: middle;
        }
        /*公告*/
        .notice_active {
            width: 387px;
            margin: 20px auto;
            background: url(/Content/themes/img/bg.gif) no-repeat;
        }

        .noticTipTxt {
            color: #ff7300;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            margin: 0 0 0 40px;
        }

            .noticTipTxt li {
                height: 22px;
                line-height: 22px;
            }

            .noticTipTxt a {
                color: #0075E8;
                font-size: 12px;
                text-decoration: none;
            }

                .noticTipTxt a:hover {
                    color: #ff7300;
                    text-decoration: underline;
                }
    </style>
    
</body>
</html>